<section class="tab overflow {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{>systems/wfrp3e/templates/applications/sheets/items/partials/career-advancement.hbs item=career}}
</section>
