# NeDB database cache directories
packs/**/
!packs/source

# CSS file
styles/wfrp3e.css

# JetBrains WebStorm cache/options directory
.idea/

# Visual Studio cache/options directory
.vs/

node_modules/