# Foundry VTT
foundry-config.yaml
foundry/
.d.ts

# NeDB database cache directories
packs/**/
!packs/source

# CSS file
styles/wfrp3e.css

# JetBrains WebStorm cache/options directory
.idea/

# Visual Studio cache/options directory
.vs/

node_modules/
package-lock.json
pnpm-lock.yaml
