<p>
	{{localize "CREATIONPOINTINVESTOR.creationPointsLeft"}}

	<span class="count">
		{{localize "CREATIONPOINTINVESTOR.count" amount=remainingCreationPoints total=startingCreationPoints}}
	</span>
</p>
