<div class="attribute {{class}}">
	<span class="attribute-title">{{localize title}}</span>

	<div class="attribute-input-container">
		<label class="attribute-label">{{localize maxTitle}}</label>
		<input class="attribute-input" name="{{dataPath}}.threshold" type="number" value="{{max}}" placeholder="{{localize maxTitle}}" data-dtype="Number" />
	</div>

	<div class="attribute-input-container">
		<label class="attribute-label">{{localize 'Current'}}</label>
		<input class="attribute-input" name="{{dataPath}}.value" type="number" value="{{value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" />
	</div>
</div>