<div class="attribute_div {{class}}">
	<span class="attribute_title">{{localize title}}</span>

	<div class="attribute_inputs_div">
		<label class="attribute_label">{{localize maxTitle}}</label>
		<input class="attribute_input" name="{{dataPath}}.threshold" type="number" value="{{max}}" placeholder="{{localize maxTitle}}" data-dtype="Number" />
	</div>

	<div class="attribute_inputs_div">
		<label class="attribute_label">{{localize 'Current'}}</label>
		<input class="attribute_input" name="{{dataPath}}.value" type="number" value="{{value}}" placeholder="{{localize 'Current'}}" data-dtype="Number" />
	</div>
</div>