{{#each drawnCareers}}
	<label {{#if @first}}class="active"{{/if}}>
		{{>systems/wfrp3e/templates/applications/partials/character-generator-career-sheet.hbs career=this}}
		<input name="career" value="{{this._id}}" type="radio" {{#if @first}}checked{{/if}}/>
	</label>
{{/each}}