<div class="talent-card">
	<span class="talent-card-type {{talent.system.type}}">{{localize talent.system.type}}</span>

	<h5 class="talent-card-name">{{talent.name}}</h5>

	<div class="talent-card-content">{{{talent.system.description}}}</div>
</div>