<div class="talent-card">
	<span class="talent-card-type {{talent.system.type}}">{{localize talent.system.type}}</span>
	<span class="talent-card-name">{{talent.name}}</span>
	<div class="talent-card-content">{{{talent.system.description}}}</div>
</div>