<tr class="item weapon-row" data-item-id="{{weapon._id}}">
	<td class="left-aligned">
		<a class="item-name-link">{{weapon.name}}</a>
	</td>

	<td class="shrinked">
		<span class="weapon-row-damage-rating">{{weapon.system.damageRating}}</span>
	</td>

	<td class="shrinked">
		<span class="weapon-row-critical-rating">{{weapon.system.criticalRating}}</span>
	</td>

	<td class="center-aligned">
		<span class="weapon-row-range">{{localize weapon.system.range}}</span>
	</td>

	<td class="center-aligned">
		<span class="weapon-row-qualities">{{weapon.system.qualities}}</span>
	</td>

	<td class="center-aligned">
		<span class="weapon-row-group">{{localize weapon.system.group}}</span>
	</td>

	<td class="shrinked">
		<span class="weapon-row-encumbrance">{{weapon.system.encumbrance}}</span>
	</td>

	{{#>if (lookup . document.isOwner)}}
	<td class="shrinked">
		<a class="item-delete-link" title="{{localize 'Delete Item'}}"><span class="fas fa-trash"></span></a>
	</td>
	{{/if}}
</tr>