<tr class="item skill-row" data-item-id="{{skill._id}}">
	<td class="left-aligned">
		<a class="item-name-link skill">{{skill.name}}</a>
	</td>

	<td class="center-aligned">
		<span class="skill-characteristic">{{localize (characteristicToAbbreviation skill.system.characteristic)}}</span>
	</td>

	<td class="center-aligned">
		<input class="skill-training-level-input" name="skill.system.training-level" type="checkbox" value="1" data-dtype="Number" {{#if (superiorOrEqualTo skill.system.training_level 1)}}checked{{/if}} />
		<input class="skill-training-level-input" name="skill.system.training-level" type="checkbox" value="2" data-dtype="Number" {{#if (superiorOrEqualTo skill.system.training_level 2)}}checked{{/if}} />
		<input class="skill-training-level-input" name="skill.system.training-level" type="checkbox" value="3" data-dtype="Number" {{#if (superiorOrEqualTo skill.system.training_level 3)}}checked{{/if}} />
	</td>

	{{#if isOwner}}
	<td class="shrinked">
		<a class="item-delete-link" title="{{localize 'Delete Item'}}"><span class="fas fa-trash"></span></a>
	</td>
	{{/if}}
</tr>