<div class="item talent-card" data-item-id="{{talent._id}}">
	<span class="talent-card-type {{talent.system.type}}">{{localize talent.system.type}}</span>
	<a class="talent-card-name item-name-link">{{talent.name}}</a>
	<div class="talent-card-content">{{{talent.system.description}}}</div>

	<div class="talent-card-bottom">
		<a class="recharge-token" title="{{TALENT.RechargeTokens}}">
			<img src="systems/wfrp3e/assets/images/token-grey.webp" alt="{{TALENT.RechargeTokens}}" />
			<span class="recharge-token-counter">{{{talent.system.rechargeTokens}}}</span>
		</a>

		{{#>if (lookup . document.isOwner)}}
			<a class="item-delete-link" title="{{localize 'DIALOG.TITLE.DeleteItem'}}">
				<span class="fas fa-trash"></span>
			</a>
		{{/if}}
	</div>

	<select class="sheet-form-select item-input talent-card-socket-select" name="system.talentSocket" data-dtype="String">
		{{selectOptions (lookup @root.talentSocketsByType talent.system.type) selected=talent.system.talentSocket blank=(localize "TALENT.NoSocket")}}
	</select>
</div>