<div class="item career-partial" data-item-id="{{career._id}}">
	<div class="career-sheet">
		<div class="face front active">
			<div class="career-sheet-header">
				<div class="career-sheet-name item-name-link ">{{career.name}}</div>

				<div class="career-sheet-race-restrictions">
					{{#if career.system.advanced}}
					{{localize "Advanced Career"}}
					{{else}}
					{{localize "Basic Career"}}
					{{/if}}
					: {{career.system.race_restrictions}}
				</div>

				<div class="career-sheet-traits">{{career.system.traits}}</div>
			</div>

			<div class="career-sheet-details">
				<div class="career-sheet-career-aptitudes">
					<div class="career-sheet-primary-characteristics">
						<div class="career-sheet-career-aptitudes-title">{{localize "Primary Characteristics"}}</div>

						<div class="career-sheet-career-aptitudes-content">
							{{#each career.system.primary_characteristics}}
							{{localize this}},
							{{/each}}
						</div>
					</div>

					<div class="career-sheet-career-skills">
						<div class="career-sheet-career-aptitudes-title">{{localize "Career Skills"}}</div>
						<div class="career-sheet-career-aptitudes-content">{{career.system.career_skills}}</div>
					</div>

					<div class="career-sheet-starting-stance">
						<span style="color: green;">{{career.system.starting_stance.conservative-segments}}</span>
						<span style="color: red;">{{career.system.starting_stance.reckless_segments}}</span>
					</div>
				</div>

				<div class="career-sheet-advance-options">
					<span class="career-sheet-advance-options-header">{{localize "Advances"}}</span>

					<div class="career-sheet-action-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Action"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.action}}</div>
					</div>

					<div class="career-sheet-talent-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Talent"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.talent}}</div>
					</div>

					<div class="career-sheet-skill-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Skill"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.skill}}</div>
					</div>

					<div class="career-sheet-fortune-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Fortune"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.fortune}}</div>
					</div>

					<div class="career-sheet-conservative-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Conservative"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.conservative}}</div>
					</div>

					<div class="career-sheet-reckless-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Reckless"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.reckless}}</div>
					</div>

					<div class="career-sheet-wound-advance-options">
						<div class="career-sheet-advance-option-title">{{localize "Wound"}}</div>
						<div class="career-sheet-advance-option-content">{{career.system.advance_options.wound}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="face back">
			<div class="career-sheet-header">
				<div class="career-sheet-name item-name-link">{{career.name}}</div>

				<div class="career-sheet-race-restrictions">
					{{#if career.system.advanced}}
					{{localize "Advanced Career"}}
					{{else}}
					{{localize "Basic Career"}}
					{{/if}}
					: {{career.system.race-restrictions}}
				</div>

				<div class="career-sheet-traits">{{career.system.sommary}}</div>
			</div>

			<div class="career-sheet-description">{{{career.system.description}}}</div>
		</div>

		<div class="bottom-line">
			<a class="flip-link" title="{{localize 'Flip sheet'}}"><span class="fas fa-undo"></span></a>

			<div class="current-career-div">
				<label class="current-career-label">{{localize 'Current Career'}}</label>
				<input class="current-career-input" name="career.system.current" type="checkbox" value="{{career.system.current}}" {{#if career.system.current}} checked{{/if}} />
			</div>

			{{#>if (lookup . document.isOwner)}}
			<a class="item-delete-link sheet-delete-link" title="{{localize 'Delete Item'}}"><span class="fas fa-trash"></span></a>
			{{/if}}
		</div>
	</div>

	<div class="career-advancement">
		<div class="form-div">
			<label class="form-select">{{localize "Action"}}</label>
			<input class="form-input" name="career.system.advances.action" type="text" value="{{career.system.advances.action}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Talent"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.talent}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Skill Training or Specialty"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.skill}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Wound Threshold"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.wound}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.0" type="text" value="{{career.system.advances.open.[0]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.1" type="text" value="{{career.system.advances.open.[1]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.2" type="text" value="{{career.system.advances.open.[2]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.3" type="text" value="{{career.system.advances.open.[3]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.4" type="text" value="{{career.system.advances.open.[4]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Open Career Advance"}}</label>
			<input class="form-input" name="career.system.advances.open.5" type="text" value="{{career.system.advances.open.[5]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Career Transition"}}</label>
			<input class="form-input" name="career.system.advances.career-transition.cost" type="checkbox" value="1" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.career-transition.cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.career-transition.cost" type="checkbox" value="2" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.career-transition.cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.career-transition.cost" type="checkbox" value="3" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.career-transition.cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.career-transition.cost" type="checkbox" value="4" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.career-transition.cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.career-transition.cost" type="checkbox" value="5" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.career-transition.cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.career-transition.new-career" type="text" value="{{career.system.advances.career-transition.new-career}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Dedication Bonus"}}</label>
			<input class="form-input" name="career.system.advances.dedication-bonus" type="text" value="{{career.system.advances.dedication-bonus}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Advance Type"}}</label>
			<input class="form-input" name="career.system.advances.non-career.0.cost" type="checkbox" value="1" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.0.cost" type="checkbox" value="2" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.0.cost" type="checkbox" value="3" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.0.cost" type="checkbox" value="4" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.0.cost" type="checkbox" value="5" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.0.nature" type="text" value="{{career.system.advances.non-career.0.nature}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "Advance Type"}}</label>
			<input class="form-input" name="career.system.advances.non-career.1.cost" type="checkbox" value="1" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.1.cost" type="checkbox" value="2" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.1.cost" type="checkbox" value="3" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.1.cost" type="checkbox" value="4" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.1.cost" type="checkbox" value="5" data-dtype="Number" {{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.non-career.1.nature" type="text" value="{{career.system.advances.non-career.1.nature}}" />
		</div>
	</div>
</div>