<div class="item action-card" data-item-id="{{action._id}}">
	<div class="face conservative active">
		<div class="action-card-header">
			<img class="action-card-type" src="/systems/wfrp3e/assets/icons/{{action.system.conservative.type}}.webp" />
			<span class="action-card-difficulty-modifiers"></span>
			<span class="action-card-name item-name-link">{{action.system.conservative.name}}</span>
			<span class="action-card-traits">{{action.system.conservative.traits}}</span>
			<span class="action-card-recharge-rating">{{action.system.conservative.recharge_rating}}</span>
		</div>

		<div class="action-card-check">{{action.system.conservative.check}}</div>
		{{#if action.system.conservative.art}}
		<img class="action-card-art-image" src="{{action.system.conservative.art}}" />
		{{/if}}
		<div class="action-card-requirements">{{action.system.conservative.requirements}}</div>
		<div class="action-card-effects">{{{action.system.conservative.effects}}}</div>
	</div>

	<div class="face reckless">
		<div class="action-card-header">
			<img class="action-card-type" src="/systems/wfrp3e/assets/icons/{{action.system.conservative.type}}.webp" />
			<span class="action-card-difficulty-modifiers"></span>
			<span class="action-card-name item-name-link">{{action.system.reckless.name}}</span>
			<span class="action-card-traits">{{action.system.reckless.traits}}</span>
			<span class="action-card-recharge-rating">{{action.system.reckless.recharge_rating}}</span>
		</div>

		<div class="action-card-check">{{action.system.reckless.check}}</div>
		{{#if action.system.reckless.art}}
		<img class="action-card-art-image" src="{{action.system.reckless.art}}" />
		{{/if}}
		<div class="action-card-requirements">{{action.system.reckless.requirements}}</div>
		<div class="action-card-effects">{{{action.system.reckless.effects}}}</div>
	</div>

	<div class="bottom-line">
		<a class="flip-link" title="{{localize 'Flip Card'}}"><span class="fas fa-undo"></span></a>

		{{#>if (lookup . document.isOwner)}}
		<a class="item-delete-link" title="{{localize 'Delete Item'}}"><span class="fas fa-trash"></span></a>
		{{/if}}
	</div>
</div>