<p>
	{{localize "CHARACTERISTICUPGRADER.selectedUpgrade"}}

	<span class="selection">
		{{#with (lookup characteristics upgrade.characteristic) as |characteristic|}}
			{{localize (concat "CAREER.ADVANCES." @root.upgrade.type ".output")
					   characteristic=(localize characteristic.name)}}
		{{else}}
			{{localize "CHARACTERISTICUPGRADER.WARNINGS.noUpgradeSelected"}}
		{{/with}}
	</span>
</p>