<header class="sheet-header">
	<img src="{{document.img}}" alt="{{document.name}}" height="64" width="64" data-action="editImage" data-edit="img" />
	{{formInput fields.img value=document.img}}

	<h1>
		{{formInput fields.name value=document.name}}
	</h1>
</header>