.ability.card {
	background: #f8f0e0;
	border: 1px solid black;
	border-radius: 8px;
	color: black;
	display: grid;
	grid-template-areas:
		"name"
		"description"
		"bottom";
	height: 255px;
	margin: 8px;
	position: relative;
	width: 385px;

	& .bottom-line {
		align-items: flex-end;
		grid-area: bottom;
		justify-content: space-between;
		margin: 4px 8px;
		position: relative;
	}

	& .description {
		font-size: 12pt;
		grid-area: description;
		margin: auto 32px;
	}

	& .name {
		background: padding-box dimgrey;
		color: white;
		font: 20pt var(--font-title);
		grid-area: name;
		height: 48px;
		margin: 8px auto 0;
		padding: 8px;
		text-align: center;
		text-shadow: var(--outline-black);
		width: 100%;
	}
}