.ability-card {
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 255px;
	margin: 8px;
	position: relative;
	width: 385px;

	& .ability-card-bottom {
		display: flex;
		margin: 0.25rem;

		& .item-delete-link {
			bottom: 5px;
			display: block;
			line-height: 0;
			padding: 2px 3px;
			position: absolute;
			right: 5px;
		}

		& .recharge-token {
			position: relative;
			max-height: 48px;

			& > img {
				border: none;
				height: 48px;
				opacity: 75%;
			}

			& > .recharge-token-counter {
				font-size: 32px;
				left: 50%;
				position: absolute;
				text-shadow:
						-1pt -1pt 0 white,
						-1pt 0 0 white,
						0 -1pt 0 white,
						-1pt 1pt 0 white,
						1pt -1pt 0 white,
						0 1pt 0 white,
						1pt 0 0 white,
						1pt 1pt 0 white;
				top: 60%;
				transform: translate(-50%, -50%);
			}

			&:hover > .recharge-token-counter {
				color: white;
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}
	}

	& .ability-card-description {
		font-size: 12pt;
		margin: auto 2rem;
	}

	& .ability-card-name {
		background: padding-box dimgrey;
		color: white;
		font: 20pt var(--font-title);
		height: 50px;
		margin: 0.5rem auto 0;
		padding: 0.5rem;
		text-align: center;
		text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;
		width: 100%;
	}
}