.action.card {
	border: 1px solid black;
	border-radius: 1.5rem;
	color: white;
	height: 440px;
	margin: 0.5rem;
	position: relative;
	text-shadow:
		-1pt -1pt 0 black,
		-1pt 0 0 black,
		0 -1pt 0 black,
		-1pt 1pt 0 black,
		1pt -1pt 0 black,
		0 1pt 0 black,
		1pt 0 0 black,
		1pt 1pt 0 black;
	width: 280px;

	& .art-image {
		border: none;
		display: block;
		height: 80px;
		width: 100%;
	}

	& .bottom-line {
		align-items: flex-end;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;
	}

	& .check {
		background-color: #201008;
		color: white;
		font: bold 12pt var(--font-title);
		height: 1.25rem;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 100%;
	}

	& .difficulty-modifiers {
		font-size: 8pt;
		grid-area: action-card-difficulty-modifiers;
		line-height: 8pt;
		margin: auto auto auto 0.25rem;
		text-align: center;
		width: calc(100% - 0.25rem);

		& > * {
			display: inline-block;
			margin: auto;
		}
	}

	& .effects {
		border: calc(0.5rem + 0.25rem) solid;
		border-radius: 0 0 1.5rem 1.5rem;
		border-top: none;
		color: black;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		font-size: 10pt;
		min-height: 232px;
		overflow-y: auto;
		text-shadow: none;

		& > table {
			background: none;
			border-top: none;
			border-bottom: none;
			flex-grow: 1;
			margin: 0;
			overflow-y: auto;

			& th, & td {
				padding: 0.25rem;
			}
		}
	}

	& .header {
		border-radius: 1.5rem 1.5rem 0 0;
		display: grid;
		height: 70px;
		grid-template-areas:
			'action-card-type action-card-name action-card-recharge-rating'
			'action-card-difficulty-modifiers action-card-traits action-card-recharge-rating';
		grid-template-columns: 3rem 1fr 3rem;
		grid-template-rows: 3rem 1.25rem;
		width: 100%;
	}

	& .name {
		font: small-caps 16pt var(--font-title);
		grid-area: action-card-name;
		line-height: 16pt;
		margin: auto;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;

		& > span {
			font-size: 8pt;
		}
	}

	& .recharge-rating {
		background-color: cornflowerblue;
		border-radius: 50%;
		font: bold 16pt/1 var(--font-title);
		grid-area: action-card-recharge-rating;
		height: 2rem;
		line-height: 2rem;
		margin: 0.5rem 0.5rem 0 0;
		text-align: center;
		width: 2rem;
	}

	& .requirements {
		background-color: #503820;
		color: white;
		font-size: 12pt;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 100%;

		& > p {
			margin: 0;
			padding-top: 0.25rem;
		}
	}

	& .traits {
		height: 1.25rem;
		font-size: 12pt;
		font-style: italic;
		font-stretch: condensed;
		grid-area: action-card-traits;
		text-align: center;
	}

	& .type {
		background-color: lightgrey;
		border: none;
		border-radius: 100%;
		grid-area: action-card-type;
		margin: 0.5rem 0 0 0.5rem;
	}

	& .face {
		&.active {
			display: flex;
			flex-direction: column;
		}

		&.conservative {
			background-color: #d8b880;
			border-radius: 1.5rem;

			& > .effects {
				border-color: sienna;
			}

			& > .header {
				background-color: #388840;
			}
		}

		&.reckless {
			background-color: #e0e0e0;
			border-radius: 1.5rem;

			& > .effects {
				border-color: darkgrey;
			}

			& > .header {
				background-color: #c02030;
			}
		}
	}
}