.action.card {
	border: 1px solid black;
	border-radius: 24px;
	color: white;
	height: 440px;
	margin: 8px;
	position: relative;
	text-shadow: var(--outline-black);
	width: 280px;

	& .art-image {
		border: none;
		display: block;
		height: 80px;
		width: 100%;
	}

	& .bottom-line {
		align-items: flex-end;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		text-shadow: var(--outline-black);
	}

	& .check {
		background-color: #201008;
		color: white;
		font: bold var(--font-size-16) var(--font-title);
		height: 20px;
		text-align: center;
		text-shadow: var(--outline-black);
		width: 100%;
	}

	& .difficulty-modifiers {
		font-size: var(--font-size-12);
		grid-area: action-card-difficulty-modifiers;
		line-height: 1;
		margin: auto auto auto 4px;
		text-align: center;
		width: calc(100% - 4px);

		& > * {
			display: inline-block;
			margin: auto;
		}
	}

	& .effects {
		border: calc(8px + 4px) solid;
		border-radius: 0 0 24px 24px;
		border-top: none;
		color: black;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		font-size: var(--font-size-14);
		min-height: 232px;
		overflow-y: auto;
		text-shadow: none;

		& > table {
			background: none;
			border-top: none;
			border-bottom: none;
			flex-grow: 1;
			margin: 0;
			overflow-y: auto;

			& th, & td {
				padding: 4px;
			}
		}
	}

	& .header {
		border-radius: 24px 24px 0 0;
		display: grid;
		height: 70px;
		grid-template-areas:
			'action-card-type action-card-name action-card-recharge-rating'
			'action-card-difficulty-modifiers action-card-traits action-card-recharge-rating';
		grid-template-columns: 48px 1fr 48px;
		grid-template-rows: 48px 20px;
		width: 100%;
	}

	& .name {
		font: small-caps var(--font-size-20)/1 var(--font-title);
		grid-area: action-card-name;
		margin: auto;
		text-align: center;
		text-shadow: var(--outline-black);

		& > span {
			font-size: var(--font-size-12);
		}
	}

	& .recharge-rating {
		background-color: cornflowerblue;
		border-radius: 50%;
		font: bold var(--font-size-20)/1 var(--font-title);
		grid-area: action-card-recharge-rating;
		height: 32px;
		margin: 8px 8px 0 0;
		text-align: center;
		width: 32px;
	}

	& .requirements {
		background-color: #503820;
		color: white;
		font-size: var(--font-size-16);
		text-align: center;
		text-shadow: var(--outline-black);
		width: 100%;

		& > p {
			margin: 0;
			padding-top: 4px;
		}
	}

	& .traits {
		font-size: var(--font-size-16);
		font-style: italic;
		font-stretch: condensed;
		grid-area: action-card-traits;
		height: 20px;
		text-align: center;
	}

	& .type {
		background-color: lightgrey;
		border: none;
		border-radius: 100%;
		grid-area: action-card-type;
		margin: 8px 0 0 8px;
	}

	& .face {
		&.active {
			display: flex;
			flex-direction: column;
		}

		&.conservative {
			background-color: #d8b880;
			border-radius: 24px;

			& > .effects {
				border-color: sienna;
			}

			& > .header {
				background-color: #388840;
			}
		}

		&.reckless {
			background-color: #e0e0e0;
			border-radius: 24px;

			& > .effects {
				border-color: darkgrey;
			}

			& > .header {
				background-color: #c02030;
			}
		}
	}
}