.action-card {
	border: 1px solid black;
	border-radius: 1.5rem;
	color: white;
	height: 440px;
	margin: 0.5rem;
	position: relative;
	text-shadow:
		-1pt -1pt 0 black,
		-1pt 0 0 black,
		0 -1pt 0 black,
		-1pt 1pt 0 black,
		1pt -1pt 0 black,
		0 1pt 0 black,
		1pt 0 0 black,
		1pt 1pt 0 black;
	width: 280px;

	& .action-card-art-image {
		border: none;
		display: block;
		height: 5rem;
		width: 100%;
	}

	& .action-card-bottom-line {
		align-items: end;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		line-height: 0;
		padding: 0 0.25rem 0.25rem;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;

		& .recharge-token {
			position: relative;

			& > img {
				border: none;
				height: 3rem;
				opacity: 75%;
			}

			& > .recharge-token-counter {
				font-size: 2rem;
				left: 50%;
				position: absolute;
				top: 70%;
				transform: translate(-50%, -50%);
			}
		}
	}

	& .action-card-check {
		background-color: #201008;
		color: white;
		font: 12pt @font-title;
		font-weight: bold;
		height: 1.25rem;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 100%;
	}

	& .action-card-difficulty-modifiers {
		font-size: 8pt;
		grid-area: action-card-difficulty-modifiers;
		line-height: 8pt;
		margin: auto auto auto 0.25rem;
		text-align: center;
		width: calc(100% - 0.25rem);

		& > * {
			display: inline-block;
			margin: auto;
		}
	}

	& .action-card-effects {
		border: calc(0.5rem + 3px) solid;
		border-radius: 0 0 1.5rem 1.5rem;
		border-top: none;
		color: black;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		font-size: 10pt;
		text-shadow: none;

		& > table {
			border-top: none;
			border-bottom: none;
			flex-grow: 1;
			overflow-y: auto;
		}
	}

	& .action-card-header {
		border-radius: 1.5rem 1.5rem 0 0;
		display: grid;
		height: 70px;
		grid-template-areas:
			'action-card-type action-card-name action-card-recharge-rating'
			'action-card-difficulty-modifiers action-card-traits action-card-recharge-rating';
		grid-template-columns: 50px 1fr 50px;
		grid-template-rows: 50px 20px;
		width: 100%;
	}

	& .action-card-name {
		font: 16pt @font-title;
		font-variant-caps: small-caps;
		grid-area: action-card-name;
		margin: auto;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;

		&:hover {
			text-shadow: 0 0 0.5rem var(--color-shadow-primary);
		}
	}

	& .action-card-recharge-rating {
		background-color: cornflowerblue;
		border-radius: 50%;
		font: 16pt @font-title;
		font-weight: bold;
		grid-area: action-card-recharge-rating;
		height: 2rem;
		line-height: 2rem;
		margin: 0.5rem 0.5rem 0 0;
		text-align: center;
		width: 2rem;
	}

	& .action-card-requirements {
		background-color: #503820;
		color: white;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 100%;

		& > p {
			margin: 0;
			padding-top: 0.25rem;
		}
	}

	& .action-card-traits {
		height: 1.25rem;
		font-style: italic;
		font-stretch: condensed;
		grid-area: action-card-traits;
		text-align: center;
	}

	& .action-card-type {
		background-color: lightgrey;
		border: none;
		border-radius: 100%;
		grid-area: action-card-type;
		margin: 0.5rem 0 0 0.5rem;
	}

	& .face {
		&.active {
			display: flex;
			flex-direction: column;
		}

		&.conservative {
			background-color: #d8b880;
			border-radius: 1.5rem;

			& > .action-card-effects {
				border-color: sienna;
			}

			& > .action-card-header {
				background-color: #388840;
			}
		}

		&.reckless {
			background-color: #e0e0e0;
			border-radius: 1.5rem;

			& > .action-card-effects {
				border-color: darkgrey;
			}

			& > .action-card-header {
				background-color: #c02030;
			}
		}
	}
}