.sheet.action {
	& nav.face-tabs {
		font: var(--font-size-18) var(--font-primary);
		font-variant-caps: small-caps;
		font-weight: bold;

		& .tab-link.active {
			&.conservative-tab-link {
				color: lightgreen;
			}

			&.reckless-tab-link {
				color: lightcoral;
			}
		}
	}

	& .art-selector {
		& > * {
			display: block;
		}

		& > img {
			border: none;
			height: 80px;
			width: 278px;
		}
	}

	& .effect-group {
		margin-bottom: 0.5rem;

		& .effect {
			align-items: center;
			display: flex;
			margin-bottom: 0.5rem;

			& > * {
				gap: 0.25rem;

				&.effect-symbol-amount {
					width: 2rem;
				}

				&.effect-description {
					display: none;
				}
			}
		}
	}
}