.action-item-sheet
{
	& .sheet-form-div
	{
		margin: 0.25rem 0;

		&.action-art-selector
		{
			& > *
			{
				display: block;
			}

			& > img
			{
				border: none;
				height: 80px;
				width: 278px;
			}
		}
	}
}