.career-item-sheet {
	& .sheet-form-div {
		margin: 4px 0;

		&.career-starting-stance-segments, &.career-advance-options{
			display: flex;

			& > *:first-child {
				margin-right: 16px;
			}

			& > *:last-child {
				margin-left: 16px;
			}
		}
	}
}

.application.sheet.career .sockets {
	max-height: 210px;
	overflow: auto;
}