.career-sheet {
	color: white;
	background-color: saddlebrown;
	border: 1px solid black;
	height: 635px;
	margin: 0.5rem;
	padding: 1.25rem;
	position: relative;
	width: 510px;

	& .career-sheet-art {
		border: none;
		bottom: 2rem;
		max-height: 490px;
		max-width: 260px;
		position: absolute;
		right: 2rem;
	}

	& .career-sheet-description {
		background-color: antiquewhite;
		color: black;
		column-count: 2;
		column-fill: auto;
		column-gap: 1.25rem;
		column-rule: 1px solid red;
		font-size: 10pt;
		height: calc(100% - 6rem);
		padding: 0.25rem 0.5rem 0.5rem;
		text-align: justify;
		text-shadow: none;
	}

	& .career-sheet-details {
		width: 240px;
	}

	& .career-sheet-header {
		background-color: dimgrey;
		margin: 0 auto;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 385px;
	}

	& .career-sheet-name {
		font-size: 16pt;
		font-variant-caps: small-caps;
		font-weight: bold;
		position: relative;

		&:hover {
			text-shadow: 0 0 8px var(--color-shadow-primary);
		}
	}

	& .career-sheet-traits {
		font-style: italic;
	}

	& .career-sheet-advance-options {
		background-color: burlywood;
		display: grid;
		font-variant-caps: small-caps;
		grid-template-areas:
			'career-sheet-advance-options-header career-sheet-advance-options-header'
			'career-sheet-action-advance-options career-sheet-talent-advance-options'
			'career-sheet-skill-advance-options career-sheet-fortune-advance-options'
			'career-sheet-conservative-advance-options career-sheet-reckless-advance-options'
			'career-sheet-wound-advance-options career-sheet-wound-advance-options';
		grid-template-columns: 90px 90px;
		grid-template-rows: 1.25rem 2.5rem 2.5rem 2.5rem 1fr;
		height: 185px;
		line-height: 10pt;
		margin: 0 auto;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 180px;
	}

	& .career-sheet-advance-options-header
	{
		background-color: dimgrey;
		color: white;
		font-size: 14pt;
		font-weight: bold;
		grid-area: career-sheet-advance-options-header;
		line-height: 1.5rem;
	}

	& .career-sheet-action-advance-options {
		grid-area: career-sheet-action-advance-options;
	}

	& .career-sheet-talent-advance-options {
		grid-area: career-sheet-talent-advance-options;
	}

	& .career-sheet-skill-advance-options {
		grid-area: career-sheet-skill-advance-options;
	}

	& .career-sheet-fortune-advance-options {
		grid-area: career-sheet-fortune-advance-options;
	}

	& .career-sheet-conservative-advance-options {
		grid-area: career-sheet-conservative-advance-options;
	}

	& .career-sheet-reckless-advance-options {
		grid-area: career-sheet-reckless-advance-options;
	}

	& .career-sheet-wound-advance-options {
		grid-area: career-sheet-wound-advance-options;
	}

	& .career-sheet-advance-option-content {
		color: yellow;
		font-weight: bold;
		line-height: 1.25rem;
	}

	& .career-sheet-advance-option-title {
		font-size: 10pt;
		font-weight: bold;
		line-height: 1.25rem;
	}

	& .career-sheet-career-aptitudes {
		background-color: papayawhip;
		display: flex;
		color: black;
		flex-direction: column;
		justify-content: space-between;
		height: 200px;
		margin: 1.25rem;
		padding: 0.5rem;
		text-align: center;
		text-shadow: none;
		width: 190px;
	}

	& .career-sheet-career-aptitudes-content {
		font-style: italic;
	}

	& .career-sheet-career-aptitudes-title {
		font-size: 14pt;
		font-variant-caps: small-caps;
	}

	& .career-sheet-race-restrictions {
		font-variant-caps: small-caps;
	}

	& .career-sheet-starting-stance {
		display: flex;
		font-weight: bold;
		justify-content: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0pt black;

		& img {
			border: none;
			display: block;
			height: 27px;
			width: 32px;

			&.stance-neutral {
				width: 38px;
			}
		}
	}
}