.career-advance-dialog .form-footer {
	align-items: stretch;
	flex-direction: column;
}

.career.game-sheet {
	color: white;
	background-color: saddlebrown;
	border: 1px solid black;
	font-size: var(--font-size-16);
	height: 635px;
	line-height: 1;
	margin: 8px;
	padding: 20px;
	position: relative;
	width: 510px;

	& .advance-options {
		background-color: burlywood;
		display: grid;
		font-variant-caps: small-caps;
		grid-template-areas:
			'advance-options-header advance-options-header'
			'action-advance-options talent-advance-options'
			'skill-advance-options fortune-advance-options'
			'conservative-advance-options reckless-advance-options'
			'wound-advance-options wound-advance-options';
		grid-template-columns: 90px 90px;
		grid-template-rows: 20px 36px 36px 36px 1fr;
		height: 185px;
		line-height: var(--font-size-14);
		margin: 0 auto;
		text-align: center;
		text-shadow: var(--outline-black);
		width: 180px;

		& .advance-option {
			margin-top: 4px;

			&.action {
				grid-area: action-advance-options;
			}

			&.talent {
				grid-area: talent-advance-options;
			}

			&.skill {
				grid-area: skill-advance-options;
			}

			&.fortune {
				grid-area: fortune-advance-options;
			}

			&.conservative {
				grid-area: conservative-advance-options;
			}

			&.reckless {
				grid-area: reckless-advance-options;
			}

			&.wound {
				grid-area: wound-advance-options;
			}

			& .content {
				color: yellow;
				font-weight: bold;
				line-height: var(--font-size-16);
			}

			& .title {
				font-size: var(--font-size-14);
				font-weight: bold;
				line-height: var(--font-size-16);
			}
		}

		& .header {
			background-color: dimgrey;
			color: white;
			font-size: var(--font-size-18);
			font-weight: bold;
			grid-area: advance-options-header;
			line-height: var(--font-size-28);
		}
	}

	& .art {
		border: none;
		bottom: 32px;
		max-height: 490px;
		max-width: 260px;
		position: absolute;
		right: 32px;
	}

	& .bottom-line {
		align-items: flex-end;
		justify-content: space-between;
		margin: 4px 12px;
		text-align: center;

		& > .form-group {
			display: flex;

			& > * {
				flex: auto;
				text-align: center;
			}
		}
	}

	& .career-aptitudes {
		background-color: papayawhip;
		display: flex;
		color: black;
		flex-direction: column;
		justify-content: space-between;
		height: 200px;
		margin: 20px;
		padding: 8px;
		text-align: center;
		text-shadow: none;
		width: 190px;
	}

	& .career-aptitudes-content {
		font-style: italic;
	}

	& .career-aptitudes-title {
		font-size: var(--font-size-18);
		font-variant-caps: small-caps;
	}

	& .description {
		background-color: antiquewhite;
		color: black;
		column-count: 2;
		column-fill: auto;
		column-gap: 20px;
		column-rule: 1px solid red;
		font-size: var(--font-size-16);
		height: calc(100% - 96px);
		overflow: auto;
		padding: 4px 8px 8px;
		text-align: justify;
		text-shadow: none;
	}

	& .details {
		width: 240px;
	}

	& .face > .header {
		background-color: dimgrey;
		margin: 0 auto;
		text-align: center;
		text-shadow: var(--outline-black);
		width: 385px;
	}

	& .name {
		font-size: var(--font-size-20);
		font-variant-caps: small-caps;
		font-weight: bold;
		position: relative;
	}

	& .traits {
		font-style: italic;
	}

	& .race-restrictions {
		font-size: var(--font-size-16);
		font-variant-caps: small-caps;
	}

	& .socket-container {
		color: white;
		font: small-caps bold var(--font-size-18) var(--font-primary);
		text-align: center;
		text-shadow: var(--outline-black);

		& .socket {
			background-color: saddlebrown;
			height: 150px;
			margin: 8px auto;
			padding: 0 8px 0 4px;
			position: absolute;
			transform: rotate(180deg);
			writing-mode: vertical-rl;

			&.focus {
				background-color: blue;
			}

			&.reputation {
				background-color: purple;
			}

			&.tactic {
				background-color: red;
			}

			&:first-of-type {
				top: 20px;
				right: 0;
			}

			&:nth-of-type(2) {
				bottom: 20px;
				right: 0;
			}

			&:nth-of-type(3) {
				right: 0;
				transform: translateY(-50%) rotate(180deg);
				top: calc(50% - 10px);
			}

			&:nth-of-type(4) {
				bottom: 0;
				height: initial;
				left: 40px;
				margin: auto 8px;
				padding: 8px 0 4px 0;
				transform: initial;
				width: 150px;
				writing-mode: initial;
			}

			&:nth-of-type(5) {
				bottom: 0;
				height: initial;
				margin: auto 8px;
				padding: 8px 0 4px 0;
				right: 40px;
				transform: initial;
				width: 150px;
				writing-mode: initial;
			}

			& > span {
				transform: rotate(180deg);
			}
		}
	}

	& .starting-stance {
		display: flex;
		font-weight: bold;
		justify-content: center;
		text-shadow: var(--outline-black);

		& img {
			border: none;
			display: block;
			height: 27px;
			width: 32px;

			&.stance-neutral {
				width: 38px;
			}
		}
	}
}