.character-generator {
	& form {
		display: flex;
		flex-direction: column;
		min-height: 0;

		& .step {
			display: none;
			flex-grow: 1;

			&.active {
				display: flex;
				flex-direction: column;
				min-height: 0;
			}

			& > h4 {
				border-color: var(--color-border-light-primary);
				border-style: solid;
				border-width: 0 0 1px;
			}

			& .selector {
				display: flex;
				flex-direction: column;
				min-height: 0;

				& > .body {
					border-bottom: 1px solid var(--color-border-light-primary);
					flex-grow: 1;
					min-height: 0;
					overflow-y: auto;

					& .tab.active {
						display: flex;
						flex-wrap: wrap;
						overflow-y: auto;

						& label {
							cursor: pointer;

							&.active > .item {
								box-shadow: 0 0 8px orange;
							}

							&:hover > .item {
								box-shadow: 0 0 8px var(--color-shadow-primary);
							}

							& > input {
								display: none;
							}
						}
					}
				}
			}

			& .tabs {
				border-color: #b4b3a4;
				border-style: solid;
				border-width: 0 0 1px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				padding-top: 4px;
			}

			&[data-step=action-selection] {
				& > p {
					text-align: center;

					& > .remaining-actions {
						font-style: italic;
						font-weight: bold;
					}
				}
			}

			&[data-step=career-selection] {
				text-align: center;

				& > p > .selected-career {
					font-style: italic;
					font-weight: bold;
				}

				& > .careers {
					align-items: center;
					display: flex;
					flex-grow: 1;
					overflow-x: auto;
					padding: 0 180px;

					& > label {
						cursor: pointer;
						margin: 0 8px;

						&.active {
							filter: drop-shadow(0 0 8px orange);
						}

						&:hover {
							filter: drop-shadow(0 0 8px var(--color-shadow-primary));
						}

						& > input {
							display: none;
						}
					}
				}
			}

			&[data-step=creation-point-investment] {
				text-align: center;

				& > p {
					font-size: var(--font-size-16);

					& > .remaining-creation-points {
						font-weight: bold;
					}
				}

				& > .creation-point-investment {
					display: flex;
					flex-grow: 1;
					justify-content: space-between;

					& > div {
						flex: 1 1 100%;
						min-height: 250px;

						& label {
							background: rgba(255, 255, 240, 0.8);
							border: 1px solid var(--color-border-light-primary);
							border-radius: 4px;
							cursor: pointer;
							display: block;
							line-height: 28px;
							margin: 8px;

							&.active {
								box-shadow: 0 0 8px orange;
							}

							&:hover, &:focus {
								outline: none;
								box-shadow: 0 0 4px var(--color-shadow-primary);
							}

							& > input {
								display: none;
							}
						}

						&.characteristics > div > div {
							display: flex;
							margin-bottom: 32px;
							justify-content: center;

							& > button {
								background: no-repeat;
								border: none;
								width: 48px;

								&:hover, &:focus {
									box-shadow: none;
									text-shadow: 0 0 4px var(--color-shadow-primary);
								}
							}

							& > input {
								height: auto;
								padding-top: 6px;
								width: 48px;
							}
						}
					}
				}
			}

			&[data-step=finish] .finish {
				min-height: 0;
				overflow-y: auto;

				& > div:not(:first-child) {
					margin-top: 32px;
				}

				& h5 {
					border-color: var(--color-border-light-primary);
					border-style: solid;
					border-width: 0 0 1px;
				}

				& .actions, & .talents {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}

				& .career-sheet {
					margin: auto;
				}

				& .characteristics {
					display: flex;
					justify-content: space-around;

					& > div {
						text-align: center;

						& > div {
							background: rgba(0, 0, 0, 0.05);
							border-radius: 4px;
							color: var(--color-text-dark-primary);
							height: auto;
							margin: auto;
							min-width: 20px;
							padding: 6px 1px 4px;
							width: 48px;
						}
					}
				}

				& .origin {
					display: flex;
					align-items: center;

					& img {
						border: none;
					}
				}
			}

			&[data-step=origin-selection] {
				& > p {
					text-align: center;

					& > .selected-origin {
						font-style: italic;
						font-weight: bold;
					}
				}

				& > .origins {
					align-items: center;
					display: flex;
					flex: 0 1 400px;
					justify-content: center;
					text-align: center;

					& > label {
						cursor: pointer;
						flex: 0 1 180px;
						margin: 0 8px;

						&.active {
							filter: drop-shadow(0 0 8px orange);

							& > img {
								filter: none;
							}
						}

						&:hover {
							filter: drop-shadow(0 0 8px var(--color-shadow-primary));

							& > img {
								filter: none;
							}
						}

						& > img {
							border: none;
							display: block;
							filter: drop-shadow(0 0 4px black);
							height: 180px;
							margin: 0 auto;
						}

						& > input {
							display: none;
						}

						& > .origin-name {
							height: 40px;
							line-height: 40px;

							& > * {
								display: inline-block;
								line-height: 12pt;
								vertical-align: middle;
							}
						}
					}
				}

				& > .origin-description {
					flex: 1 1 auto;
					margin: 0 64px;
				}
			}

			&[data-step=skill-training] {
				& > p {
					text-align: center;

					& > .remaining-skill-trainings, & > .remaining-specialisations {
						font-weight: bold;
					}
				}

				& > .skill-training {
					display: flex;
					flex-grow: 1;

					& table {
						height: fit-content;

						& thead {
							font-variant-caps: small-caps;
						}

						& tbody {
							& .skill-acquired, & .skill-characteristic {
								font-variant-caps: small-caps;
							}
						}
					}
				}
			}

			&[data-step=talent-selection] {
				& > p {
					text-align: center;

					& > .remaining-talents,
					& > .remaining-focus-talents,
					& > .remaining-faith-talents,
					& > .remaining-order-talents,
					& > .remaining-insanities {
						font-style: italic;
						font-weight: bold;
					}
				}

				& .talent-selection {
					border-bottom: 1px solid #b4b3a4;
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					min-height: 0;

					& .talents {
						min-height: 0;
						overflow-y: auto;

						& > .tab.active {
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							overflow-y: auto;

							& label {
								cursor: pointer;

								&.active > div {
									box-shadow: 0 0 8px orange;
								}

								&:hover > div {
									box-shadow: 0 0 8px var(--color-shadow-primary);
								}

								& > input {
									display: none;
								}
							}
						}
					}
				}
			}

			& h4 {
				font-variant-caps: small-caps;
				font-weight: bold;
				margin: 8px 0 0;
				text-align: center;
			}

			& h5 {
				font-variant-caps: small-caps;
				font-weight: bold;
				margin: 8px auto;
				text-align: center;
			}

			& h6 {
				font-variant-caps: small-caps;
				font-weight: bold;
				margin: 8px auto;
				text-align: center;
			}

			& .buttons {
				display: flex;
			}
		}
	}

	& .character-creation-steps {
		border-bottom: 1px solid var(--color-border-light-primary);
		flex-grow: 0;
		margin-bottom: 4px;

		& .step-names {
			display: flex;
			justify-content: space-between;
			text-align: center;

			& > span {
				flex-basis: 96px;

				&.active {
					color: white;
					text-shadow: var(--outline-black);
				}
			}
		}

		& .step-gauge {
			height: 4px;
			margin: auto;
			width: 86%;

			& .step-gauge-fill {
				background-color: darkred;
				display: block;
				height: 100%;
				width: 0;
			}
		}
	}
}
