.application.wfrp3e.character .window-content {
	& > header.sheet-header {
		& > .rank {
			display: grid;
			grid-template-areas:
				'race-image rank'
				'race-image origin-image';
			grid-template-columns: 64px auto;
			grid-template-rows: min-content 42px;

			& > div {
				font: small-caps bold var(--font-size-18) var(--font-primary);
				grid-area: rank;
			}

			& .origin-img {
				grid-area: origin-image;
				height: 100%;
				margin: auto;
			}

			& .race-img {
				grid-area: race-image;
				height: 100%;
				margin: auto;
			}
		}

		& > .form-group.experience {
			& input {
				width: 36px;
			}

			& .form-fields {
				text-align: center;
				width: 100%;
			}
		}
	}

	& > section.tab {
		flex-grow: 1;

		&.attributes {
			flex-direction: row !important;
			margin-top: 8px;

			& > *:first-child {
				margin-top: 0 !important;
			}

			& .characteristics-and-impairments {
				display: flex;
				flex-direction: column;
				width: auto;

				& > div {
					display: flex;
					flex-direction: row;
					flex-grow: 1;
				}

				& .impairments {
					display: flex;
					flex-direction: column;

					& > .impairment {
						flex-direction: row-reverse;

						& >.sheet-title {
							transform: rotate(180deg);
						}

						& .token-counter {
							left: 50%;
							top: 50%;
							transform: translate(-50%, -20%);
						}
					}
				}
			}

			& .skills {
				display: flex;
				flex: 1 1 370px;
				flex-direction: column;
				overflow: auto;

				& .skill-row {
					font-variant-caps: small-caps;
				}
			}

			& .stance-meter .sheet-title {
				align-items: center;
				display: flex;
				gap: 4px;
				justify-content: center;
				margin-bottom: 4px;
			}
		}

		&.actions,
		&.talents {
			gap: 0;
		}
	}

	& .tab > .career {
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		justify-content: center;
		overflow-y: auto;

		& .career-sheet {
			margin-bottom: 0;
			margin-left: 0;
			margin-top: 0;

			& .form-group {
				text-align: center;
			}
		}
	}

	& .talent-container {
		width: min-content;

		& .socket-select {
			width: 100%;
		}

		& .talent.card {
			margin-bottom: 0;
		}
	}
}

body.theme-light .application.wfrp3e.character .window-content {
	& .characteristics-and-impairments .characteristics .characteristic .characteristic-container {
		& input[name$=".rating"] {
			background: lightcyan;
			border-color: lightsteelblue;
		}

		& input[name$=".fortune"] {
			background: white;
		}
	}
}
