.application.wfrp3e.character .window-content {
	& > header.sheet-header > .form-group.experience {
		& input {
			width: 36px;
		}

		& .form-fields {
			text-align: center;
			width: 100%;
		}
	}

	& > section.tab {
		flex-grow: 1;
		min-height: 0;
		overflow-y: auto;

		&.attributes {
			flex-direction: row !important;
			margin-top: 8px;

			& > *:first-child {
				margin-top: 0 !important;
			}

			& .attributes {
				display: flex;
				flex: 1 1 240px;
				flex-direction: column;
				gap: 16px;

				& > .attributes-subdivision {
					display: flex;
					flex-flow: row wrap;

					& fieldset.attribute {
						border: none;
						flex: 1 0 80px;
						gap: 4px;
						padding: 4px;
						text-align: center;

						& .form-group {
							display: flex;
							flex-direction: column;

							& input {
								height: 64px;
								text-align: center;
							}
						}
					}
				}

				& .cards {
					overflow-y: scroll;

					& > div:not(:last-child) .card {
						margin-bottom: 20px;
					}
				}
			}

			& .characteristics-and-impairments {
				display: flex;
				flex-direction: column;
				width: auto;

				& > div {
					display: flex;
					flex-direction: row;
					flex-grow: 1;
				}

				& .characteristics {
					display: flex;
					flex: 1 1 auto;
					flex-direction: column;
					justify-content: space-around;
					padding: 0 8px;

					& .characteristic {
						width: 130px;

						& .characteristic-container {
							align-items: center;
							display: flex;
							flex-flow: row wrap;
							justify-content: flex-end;

							& input[name$=".rating"] {
								border-color: steelblue;
								border-width: 2px;
								display: block;
								font-weight: bold;
								height: 45px;
								padding: 4px;
								text-align: center;
								width: 35px;
							}

							& input[name$=".fortune"] {
								border-color: darkgray;
								font-weight: bold;
								height: 24px;
								margin-left: 8px;
								padding: 4px;
								text-align: center;
								width: 24px;
							}
						}

						& .characteristic-title {
							font: small-caps bold var(--font-size-18) var(--font-primary);
							text-align: center;
						}
					}
				}

				& .impairments {
					display: flex;
					flex-direction: column;

					& .token-counter {
						left: 50%;
						top: 50%;
						transform: translate(-50%, -20%);
					}

					& .title {
						transform: rotate(180deg);
					}
				}
			}

			& .skills {
				display: flex;
				flex: 1 1 370px;
				flex-direction: column;
				overflow: auto;

				& .skill-row {
					font-variant-caps: small-caps;
				}
			}

			& .stance-meter h3 {
				align-items: center;
				display: flex;
				gap: 4px;
				justify-content: center;
				margin-bottom: 4px;
			}
		}

		&.actions,
		&.talents {
			gap: 0;
		}
	}

	& .character-sheet-title {
		border-bottom: none;
		display: block;
		font: small-caps bold var(--font-size-18) var(--font-primary);
		margin: 0;
		text-align: center;
	}

	& .item-container > .career {
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		justify-content: center;

		& .career-advancement {
			display: flex;
			flex: 1 1;
			flex-direction: column;
			gap: 16px;

			& fieldset {
				border: none;
				padding: 0;
				gap: 8px;

				& > legend {
					color: white;
					text-align: center;
					text-shadow: var(--outline-black);
					font: var(--font-size-24) var(--font-title);
					font-variant-caps: small-caps;
				}
			}

			& .form-group {
				& > input[type=checkbox] {
					align-self: baseline;
				}

				& > input[type=text] {
					flex: 1 1 0;
				}

				& > label {
					flex: 1 1;
				}
			}
		}

		& .career-sheet {
			margin-bottom: 0;
			margin-left: 0;
			margin-top: 0;

			& .form-group {
				text-align: center;
			}
		}
	}

	& .talent-container {
		width: min-content;

		& .socket-select {
			width: 100%;
		}

		& .talent.card {
			margin-bottom: 0;
		}
	}
}

body.theme-light .application.wfrp3e.character .window-content {
	& .characteristics-and-impairments .characteristics .characteristic .characteristic-container {
		& input[name$=".rating"] {
			background: lightcyan;
			border-color: lightsteelblue;
		}

		& input[name$=".fortune"] {
			background: white;
		}
	}
}
