.check-builder {
	& .dice-pool,
	& .symbols-pool {
		display: flex;
		justify-content: center;
		margin-top: 0.5rem;
		text-align: center;
	}

	& .quickSettings {
		flex: 1 0 420px;

		& > label > * {
			display: block;
			width: 100%;
		}

		& > fieldset {
			align-content: center;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			margin: 0.5rem 0;

			& > div {
				flex: 1;
			}

			& > multi-select {
				width: 100%;
			}
		}
	}

	& .settings {
		gap: 0.5rem;
		margin-bottom: 1rem;

		& .convert-buttons {
			display: flex;
			margin-bottom: 1rem;

			& > button {
				flex: 1;
				font-size: var(--font-size-14);
				line-height: 1.5rem;
				text-align: center;
			}
		}

		& .dice-pool-hint {
			font-size: var(--font-size-14) !important;
		}

		& .dice-pool-table {
			background-color: rgba(0, 0, 0, 0.05);
			border: 1px solid var(--color-border-light-tertiary) none;
			margin: 0.25rem;

			& .pool-container {
				align-items: center;
				cursor: pointer;
				display: flex;
				padding: 0.5rem;

				&:nth-child(even) {
					background-color: rgba(255, 255, 255, 0.2);
				}

				&:hover > label {
					color: var(--color-form-label-hover);
				}

				& > input {
					font: var(--font-size-20) var(--font-primary);
					height: initial;
					margin: auto 1rem;
					padding-bottom: 0.25rem;
					padding-top: 0.5rem;
					text-align: center;
					width: 3.5rem;
				}

				& > label {
					cursor: pointer;
					line-height: 1;
				}
			}
		}

		& .symbols-pool-container > table {
			margin: 0;
			min-width: 320px;

			.pool-container {
				align-items: center;
				display: flex;

				& > span {
					flex-basis: 1.5rem;
					text-align: center;
				}

				& .pool-text {
					height: 0.5rem;
					line-height: 1;
				}

				& .pool-value {
					font: var(--font-size-16) var(--font-primary);
					height: initial;
					margin: 0 0.25rem;
					padding-bottom: 0.25rem;
					padding-top: 0.5rem;
					text-align: center;
					width: 3rem;
				}

				& .wfrp3e.picture {
					display: inline-block;
					width: 1.25rem;
				}
			}
		}
	}
}