.application.wfrp3e.creature .window-content {
	padding: 0;

	& header.sheet-header {
		align-items: center;
		background: url(../assets/images/creature-sheet-header.webp) center/100% 100% no-repeat;
		display: flex;
		padding: 0 8px;
		text-align: center;

		& > * {
			flex: 0 0 96px;
		}

		& input {
			background: none;
			border: none;
			text-align: center;
			text-shadow: var(--outline-black);

			&[name="name"] {
				color: bisque;
				flex-grow: 1;
				text-shadow: var(--outline-black);
			}

			&[name$="threatRating"] {
				color: white;
				flex: 0 0 12.5%;
				font-size: var(--font-size-28);
			}

			&:focus {
				box-shadow: none;;
				text-shadow: 0 0 4px var(--color-shadow-primary);
			}
		}

		& .wounds {
			flex-basis: 64px;
			& hr {
				margin: 0 0 2px;
			}

			& input {
				color: white;
				font-size: var(--font-size-28);
				padding-top: 8px;
			}
		}
	}

	& input[name$="category"] {
		background-color: #240000;
		border: solid dimgray;
		border-radius: 0;
		border-width: 2px 0;
		color: white;
		font-style: italic;
		padding-top: 4px;
		text-align: center;
		width: 100%;
	}

	& section.tab {
		padding: 0 8px;

		&.attributes {
			grid-template-areas:
			"characteristics image ratings"
			"stance special-rule-summary special-rule-summary"
			"creature-attributes creature-attributes creature-attributes";
			grid-template-columns: 100px 1fr 100px;
			grid-template-rows: 1fr 160px 64px;
			grid-column-gap: 8px;
			flex-grow: 1;
			padding: 0;

			&.active {
				display: grid;
			}

			&.nemesis {
				grid-template-areas:
				"characteristics image ratings"
				"stance-meter stance-meter stance-meter"
				"special-rule-summary special-rule-summary special-rule-summary"
				"creature-attributes creature-attributes creature-attributes";
				grid-template-rows: 1fr 40px 120px 64px;
			}

			& .characteristics {
				grid-area: characteristics;
				justify-content: initial;

				& > .characteristic {
					align-items: baseline;
					display: flex;
					font-weight: bold;
					margin-bottom: 4px;
					width: initial;

					& > .characteristic-container {
						flex-wrap: nowrap;
						gap: 4px;

						& input[name$=".fortune"] {
							border-color: dimgray;
							font-size: var(--font-size-14);
							height: 20px;
							padding: 4px 0 0;
							width: 20px;
						}

						& input[name$=".rating"] {
							padding: 4px 4px 0;
							height: 32px;
							width: 32px;
						}
					}

					& > .characteristic-title {
						font-size: var(--font-size-14);
						font-variant: initial;
						margin-right: auto;
						text-align: initial;
					}
				}
			}

			& .creature-attributes {
				background-color: #884832;
				border: solid dimgray;
				border-radius: 0;
				border-width: 4px 16px 0;
				color: white;
				grid-area: creature-attributes;
				justify-content: space-evenly;
				padding: 4px 0 8px;
				text-align: center;
				text-shadow: var(--outline-black);

				& .form-group {
					gap: 0;

					& label {
						color: white;
						font-size: var(--font-size-18);
						font-variant: small-caps;
						line-height: 1.5;
					}

					& .form-fields {
						gap: 0;

						& input {
							background: none;
							color: white;
							font-size: var(--font-size-22);
							font-style: italic;
							line-height: 1.5;
							text-shadow: var(--outline-black);
							width: 32px;
						}
					}

					&.expertise {
						& input,
						& label {
							color: yellow;
						}
					}
				}
			}

			& > .image {
				grid-area: image;
				margin: auto;
				max-height: 100%;

				& > img {
					display: block;
				}
			}

			& .ratings {
				flex: 0 0 100px;
				grid-area: ratings;
				padding-top: 8px;

				& > .rating {
					align-items: center;
					background-color: #240000;
					border: solid dimgrey;
					border-radius: 32px 0 0 32px;
					border-width: 2px 0;
					display: flex;
					margin-bottom: 4px;

					& > img {
						border: none;
					}

					& > input {
						background: none;
						border: none;
						color: white;
						font-weight: bold;
						padding: 4px 0 0 8px;
						width: 48px;

						&:focus {
							box-shadow: none;
							text-shadow: 0 0 4px var(--color-shadow-primary);
						}
					}
				}

				& > .impairment .token-counter {
					left: 50%;
					top: 50%;
					transform: translate(-50%, -25%);
				}
			}

			& .special-rule-summary {
				background: rgba(250, 240, 230, 0.5);
				border-radius: 8px;
				grid-area: special-rule-summary;

				& .editor-container,
				& .editor-content {
					padding: 0 8px;
				}
			}

			& .stance {
				font-size: var(--font-size-18);
				grid-area: stance;
				margin: auto 16px 16px;
				text-align: center;

				&.conservative {
					color: green;
				}

				&.reckless {
					color: red;
				}
			}

			& .stance-meter {
				grid-area: stance-meter;
				justify-content: center;
			}
		}

		&.details {
			flex-grow: 1;

			& > .form-group {
				flex-grow: 1;

				&.stacked {
					align-items: flex-start;
					flex-flow: column;
				}

				& > * {
					flex: 0;
				}

				& > .form-fields {
					flex: 1;

					& > prose-mirror {
						height: 100%;
					}
				}
			}
		}
	}
}