.creature-sheet {
	& .window-content {
		padding: 0;

		form {
			display: flex;
			flex-direction: column;

			& .creature-sheet-body {
				flex: 1 1 0;
				min-height: 0;

				& > .tab.active {
					display: flex;
					flex-flow: column nowrap;
					height: 100%;
					overflow: auto;
				}

				& .creature-sheet-actions-tab {
					overflow: unset;

					&.action-card {
						margin: 0.5rem auto;
					}

					& .creature-sheet-actions {
						min-height: 0;
						overflow: auto;
					}

					& .creature-sheet-action-tabs {
						border-bottom: 1px solid #b5b3a4;
						display: flex;
						flex-flow: row wrap;
						justify-content: space-around;

						& > * {
							margin: 0 5px;
						}
					}

					& .action-container {
						&.active {
							align-items: center;
							display: flex;
							flex-direction: column;
						}
					}
				}

				& .creature-sheet-main-tab {
					& > div {
						display: flex;

						&.creature-sheet-attributes {
							background-color: #884832;
							border: solid dimgray;
							border-radius: 0;
							border-width: 4px 1rem 0;
							color: white;
							padding: 0.25rem 0 0.5rem;
							text-align: center;
							text-shadow:
								-1pt -1pt 0 black,
								-1pt 0 0 black,
								0 -1pt 0 black,
								-1pt 1pt 0 black,
								1pt -1pt 0 black,
								0 1pt 0 black,
								1pt 0 0 black,
								1pt 1pt 0 black;

							& .attribute {
								flex-grow: 1;
								margin: 0 0.5rem;

								& .attribute-title {
									font-size: var(--font-size-18);
									font-variant: small-caps;
								}

								& .attribute-input-container input {
									color: white;
									font-size: var(--font-size-22);
									font-style: italic;
									padding-top: 0.5rem;
									text-shadow:
											-1pt -1pt 0 black,
											-1pt 0 0 black,
											0 -1pt 0 black,
											-1pt 1pt 0 black,
											1pt -1pt 0 black,
											0 1pt 0 black,
											1pt 0 0 black,
											1pt 1pt 0 black;
									width: 2rem;
								}

								&.expertise {
									color: yellow;

									& input {
										color: yellow;
									}
								}
							}
						}

						&.creature-sheet-main-infos {
							& .creature-sheet-characteristics {
								flex: 1 1 20%;
								padding: 0 0.5rem;

								& > div {
									align-items: center;
									display: flex;
									font-weight: bold;
									margin-bottom: 0.25rem;

									& > .characteristic-title {
										margin-right: auto;
									}

									& .characteristic-rating-input {
										background: lightcyan;
										border-color: lightsteelblue;
										border-width: 2px;
										padding-top: 0.25rem;
										font-weight: bold;
										text-align: center;
										width: 2rem;
									}

									& .characteristic-fortune-input {
										background: white;
										border-color: dimgray;
										font-size: var(--font-size-14);
										font-weight: bold;
										height: 1.25rem;
										padding-top: 0.25rem;
										text-align: center;
										width: 1.25rem;
									}
								}
							}

							& .creature-sheet-image {
								flex-basis: 60%;
							}

							& .creature-sheet-ratings {
								flex: 1 1 20%;
								padding-left: 0.5rem;

								& > div {
									align-items: center;
									background-color: #240000;
									border: solid dimgrey;
									border-radius: 2rem 0 0 2rem;
									border-width: 2px 0;
									display: flex;
									margin-bottom: 0.25rem;

									& > img {
										border: none;
									}

									& > input {
										border: none;
										color: white;
										font-weight: bold;
										padding: 0.25rem 0 0 0.5rem;

										&:focus {
											box-shadow: none;
											text-shadow: 0 0 5px var(--color-shadow-primary);
										}
									}
								}
							}
						}

						&.creature-sheet-secondary-infos {
							flex-grow: 1;
							padding: 0 1rem 1rem;

							& .creature-sheet-special-rule-summary {
								flex-grow: 1;

								& > .editor {
									height: 100%;
								}
							}

							& .creature-sheet-stance {
								font-size: var(--font-size-18);
								margin: auto 1rem 1rem 0;

								&.conservative {
									color: green;
								}

								&.reckless {
									color: red;
								}
							}
						}
					}
				}
			}

			& .creature-sheet-category {
				background-color: #240000;
				border: solid dimgray;
				border-radius: 0;
				border-width: 2px 0;
				color: white;
				font-style: italic;
				padding-top: 0.25rem;
				text-align: center;
				width: 100%;
			}

			& .creature-sheet-header {
				background: url(../assets/images/creature-sheet-header.webp) center/100% 100% no-repeat;
				flex-wrap: nowrap;
				padding: 0 0.5rem;
				text-align: center;

				& input {
					background: none;
					border: none;
					text-shadow:
							-1pt -1pt 0 black,
							-1pt 0 0 black,
							0 -1pt 0 black,
							-1pt 1pt 0 black,
							1pt -1pt 0 black,
							0 1pt 0 black,
							1pt 0 0 black,
							1pt 1pt 0 black;

					&:focus {
						box-shadow: none;
						text-shadow: 0 0 5px var(--color-shadow-primary);
					}

					&.creature-sheet-threat-rating {
						color: white;
						flex: 0 0 3rem;
						font-size: var(--font-size-28);
						padding-top: 0.5rem;
					}
				}

				& .creature-sheet-name > input {
					color: bisque;
					text-shadow:
							-1pt -1pt 2pt black,
							-1pt 0 2pt black,
							0 -1pt 2pt black,
							-1pt 1pt 2pt black,
							1pt -1pt 2pt black,
							0 1pt 2pt black,
							1pt 0 2pt black,
							1pt 1pt 2pt black;
				}

				& .creature-sheet-wounds {
					flex: 0 0 3rem;

					& hr {
						margin: 0 0 2px;
					}

					& input {
						color: white;
						font-size: var(--font-size-28);
						padding-top: 0.5rem;
					}
				}
			}

			& .creature-sheet-tabs {
				border-top: none;
			}
		}
	}
}