.critical-wound.card {
	background-color: #f4e0c0;
	border-radius: 0.5rem ;
	color: black;
	display: flex;
	flex-direction: column;
	height: 385px;
	position: relative;
	margin: 0.5rem;
	text-align: center;
	width: 255px;

	& .bottom-line {
		bottom: 0.5rem;
		left: 0.5rem;
		right: 3rem;
	}

	& .description {
		border: 0.5rem solid #803020;
		border-radius: 0 0 0.5rem 0.5rem ;
		border-top: 0;
		flex-grow: 1;
		padding: 1.5rem 2rem;

		& p {
			text-align: left;
		}
	}

	& .header {
		border-bottom: 0.5rem solid #503010;

		& .name {
			background-color: #e0c0b0;
			border: 0.5rem solid #2e231f;
			border-radius: 0.5rem 0.5rem 0 0;
			color: white;
			display: block;
			font: small-caps 16pt var(--font-title);
			margin: auto 0;
			padding: 0.5rem 0;
			text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;

			&:hover {
				text-shadow: 0 0 0.5rem var(--color-shadow-primary);
			}
		}
	}

	& .severity-rating {
		background-color: #703818;
		bottom: 1rem;
		color: white;
		font: small-caps 20pt var(--font-title);
		height: 2rem;
		position: absolute;
		right: 1rem;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 2rem;
	}
}