.diseases
{
	& .disease-card
	{
		position: relative;
		width: 255px;
		height: 385px;
		margin: 0 auto;
		border: 10px solid #104020;
		border-radius: 10px;
		text-align: center;
		background-color: #e8f0e0;

		& .disease-card-content
		{
			padding: 0 5px;

			& .disease-card-description
			{
				text-align: left;
				margin-left: 0;
				padding: 0;
				border: 0;
			}

			& .disease-card-severity-rating
			{
				width: 31px;
				height: 31px;
				background-color: #405848;
				float: left;
				color: white;
				font: 20pt "Caslon Antique";
				font-variant-caps: small-caps;
				text-shadow:
					-1pt -1pt 0 black,
					-1pt 0 0 black,
					0 -1pt 0 black,
					-1pt 1pt 0 black,
					1pt -1pt 0 black,
					0 1pt 0 black,
					1pt 0 0 black,
					1pt 1pt 0 black;
			}

			& .disease-card-symptom
			{
				text-align: left;

				& .symptom-name
				{
					text-transform: uppercase;

					&::first-letter
					{
						font-size: 16pt;
					}
				}
			}
		}

		& .disease-card-header
		{
			display: flex;
			flex-direction: column;
			height: 70px;
			margin-bottom: 5px;

			& .disease-card-name
			{
				margin: auto 0;
				padding: 0 5px;
				color: white;
				font: 16pt "Caslon Antique";
				font-variant-caps: small-caps;
				text-shadow:
					-1pt -1pt 0 black,
					-1pt 0 0 black,
					0 -1pt 0 black,
					-1pt 1pt 0 black,
					1pt -1pt 0 black,
					0 1pt 0 black,
					1pt 0 0 black,
					1pt 1pt 0 black;
				vertical-align: middle;

				&:hover
				{
					text-shadow: 0 0 8px var(--color-shadow-primary);
				}
			}

			& .disease-card-traits
			{
				height: 20px;
				padding: 3px 5px;
				background-color: #383830;
				color: white;
				font-size: 10pt;
				font-style: italic;
				font-weight: bold;
				text-shadow:
					-1pt -1pt 0 black,
					-1pt 0 0 black,
					0 -1pt 0 black,
					-1pt 1pt 0 black,
					1pt -1pt 0 black,
					0 1pt 0 black,
					1pt 0 0 black,
					1pt 1pt 0 black;
			}
		}

		& .item-delete-link
		{
			position: absolute;
			bottom: 0;
			right: 5px;
		}
	}
}