.application.wfrp3e.group .window-content {
	& section.tab.attributes {
		grid-template-areas:
			"first-ability-track first-ability-track"
			"illustration first-special-ability"
			"illustration name"
			"illustration second-special-ability"
			"second-ability-track second-ability-track"
			"sockets sockets";
		grid-template-columns: 250px 1fr;
		grid-template-rows: auto auto 40px auto auto;
		grid-gap: 8px;
		flex-grow: 1;
		padding: 0;

		&.active {
			display: grid;
		}

		& h4 {
			text-align: center;
		}

		& .ability-track {
			display: flex;
			justify-content: center;
			position: relative;

			&[data-index="0"] {
				grid-area: first-ability-track;
			}

			&[data-index="1"] {
				grid-area: second-ability-track;
			}

			&:hover [data-action="editAbilityTrack"] {
				display: block;
			}

			& [data-action] {
				display: block;
				height: 40px;
				font-size: var(--font-size-24);
				padding-top: 8px;
				text-align: center;
				vertical-align: middle;
				width: 40px;
			}

			& [data-action="editAbilityTrack"] {
				display: none;
				position: absolute;
				right: 0;
			}

			& .segment-container {
				display: flex;
				justify-content: center;

				&.edit {
					margin-bottom: 20px;

					&.active .segment > input {
						display: block;
					}

					&:not(.active) {
						display: none;
					}
				}

				& .segment {
					background-color: #b0b0b8;
					border: 1px solid #646468;
					color: white;
					height: 40px;
					flex: 0 0 40px;
					font-size: var(--font-size-28);
					padding-top: 2px;
					text-align: center;
					width: 40px;

					&.trigger {
						background-color: #006898;
						border-color: #725664;
					}

					& > img {
						border: none;
						filter: drop-shadow(0 0 2px black);
					}

					& > input {
						display: none;
						margin: auto;

						&[type="text"] {
							background: none;
							border: none;
							height: 100%;
							padding-top: 4px;
							text-align: center;
							width: 100%;
						}
					}
				}
			}
		}

		& .name > * {
			height: auto;
			color: white;
			font-size: var(--font-size-28);
			font-variant-caps: small-caps;
			text-align: center;
			text-shadow: var(--outline-black);
		}

		& .illustration {
			flex: 0 0 200px;
			grid-area: illustration;
			margin: auto;
		}

		& .special-ability {
			&[data-index="0"] {
				grid-area: first-special-ability;
			}

			&[data-index="1"] {
				grid-area: second-special-ability;
			}

			& > input {
				font-size: var(--font-size-20);
				font-variant-caps: small-caps;
				font-weight: bold;
				text-align: center;
			}
		}

		& .sockets {
			grid-area: sockets;
			overflow: auto;

			& .socket {
				flex: 1 auto;
			}
		}
	}
}