.insanity.card {
	background-color: #d0d8e0;
	border-radius: 8px;
	color: black;
	display: flex;
	height: 385px;
	flex-direction: column;
	margin: 8px;
	position: relative;
	width: 255px;

	& .bottom-line {
		bottom: 8px;
		left: 8px;
		right: 48px;
	}

	& .content {
		border: 8px solid #602018;
		border-radius: 0 0 8px 8px ;
		flex-grow: 1;
		padding: 16px 24px;

		& .description {
			border: 0;
			padding: 0;
			margin-left: 0;
			text-align: left;
		}
	}

	& .header {
		text-align: center;

		& .name {
			border: 8px solid #303030;
			border-bottom-width: 0;
			border-radius: 8px 8px 0 0;
			color: white;
			display: block;
			font: small-caps 16pt var(--font-title);
			margin: auto 0;
			padding: 8px 0;
			text-shadow: var(--outline-black);

			&:hover {
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}

		& .traits {
			background-color: #303030;
			color: white;
			font-size: 10pt;
			font-style: italic;
			font-weight: bold;
			height: 20px;
			padding: 4px 4px;
			text-shadow: var(--outline-black);
		}
	}

	& .severity-rating {
		background-color: #202020;
		border-radius: 50%;
		bottom: 24px;
		color: white;
		font: small-caps 20pt var(--font-title);
		height: 32px;
		position: absolute;
		right: 24px;
		text-align: center;
		text-shadow: var(--outline-black);
		width: 32px;
	}
}