.miscast.card {
	background-color: #e8f0f8;
	border: 16px solid #385060;
	border-radius: 8px;
	border-width: 8px 0 16px;
	color: black;
	display: flex;
	flex-direction: column;
	height: 385px;
	margin: 8px;
	position: relative;
	text-align: center;
	width: 255px;

	& .bottom-line {
		bottom: 8px;
	}

	& .description {
		border-bottom: 8px solid #606060;
		flex-grow: 1;
		padding: 8px;
	}

	& .header {
		background-color: #e8e8e0;
		display: flex;
		flex-direction: column;
		height: 32px;
		margin-bottom: 4px;

		& .name {
			border: 8px solid #606060;
			border-width: 8px 0;
			color: white;
			font: small-caps var(--font-size-28) var(--font-title);
			margin: auto 0;
			text-shadow: var(--outline-black);

			&:hover {
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}
	}

	& .severity-rating {
		background-color: #703818;
		bottom: 16px;
		color: white;
		font: small-caps var(--font-size-28) var(--font-title);
		height: 32px;
		position: absolute;
		right: 16px;
		text-shadow: var(--outline-black);
		width: 32px;
	}
}