.miscast.card {
	background-color: #e8f0f8;
	border: 1rem solid #385060;
	border-radius: 0.5rem;
	border-width: 0.5rem 0 1rem;
	color: black;
	display: flex;
	flex-direction: column;
	height: 385px;
	margin: 0.5rem;
	position: relative;
	text-align: center;
	width: 255px;

	& .bottom-line {
		bottom: 0.5rem;
	}

	& .description {
		border-bottom: 0.5rem solid #606060;
		flex-grow: 1;
		padding: 0.5rem;
	}

	& .header {
		background-color: #e8e8e0;
		display: flex;
		flex-direction: column;
		height: 2rem;
		margin-bottom: 0.25rem;

		& .name {
			border: 0.5rem solid #606060;
			border-width: 0.5rem 0;
			color: white;
			font: small-caps 16pt var(--font-title);
			margin: auto 0;
			text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;

			&:hover {
				text-shadow: 0 0 0.5rem var(--color-shadow-primary);
			}
		}
	}

	& .severity-rating {
		background-color: #703818;
		bottom: 1rem;
		color: white;
		font: small-caps 20pt var(--font-title);
		height: 2rem;
		position: absolute;
		right: 1rem;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		width: 2rem;
	}
}