.mutation-card {
	position: relative;
	width: 255px;
	height: 385px;
	margin: 8px;
	border: 10px solid #987060;
	border-radius: 10px;
	text-align: center;
	background-color: #f0e8e0;

	& .mutation-card-content {
		padding: 0 5px;

		& .mutation-card-description {
			text-align: left;
			margin-left: 0;
			padding: 0;
			border: 0;
		}

		& .mutation-card-severity-rating {
			width: 31px;
			height: 31px;
			background-color: #e8e8e8;
			float: left;
			color: white;
			font: small-caps 20pt var(--font-title);
			text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;
		}

		& .mutation-card-symptom {
			text-align: left;

			& .symptom-name {
				text-transform: uppercase;

				&::first-letter {
					font-size: 16pt;
				}
			}
		}
	}

	& .mutation-card-header {
		display: flex;
		flex-direction: column;
		height: 70px;
		margin-bottom: 5px;

		& .mutation-card-name {
			margin: auto 0;
			padding: 0 5px;
			color: white;
			font: small-caps 16pt var(--font-title);
			text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;
			vertical-align: middle;

			&:hover {
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}

		& .mutation-card-traits {
			height: 20px;
			padding: 3px 5px;
			background-color: #383830;
			color: white;
			font-size: 10pt;
			font-style: italic;
			font-weight: bold;
			text-shadow:
				-1pt -1pt 0 black,
				-1pt 0 0 black,
				0 -1pt 0 black,
				-1pt 1pt 0 black,
				1pt -1pt 0 black,
				0 1pt 0 black,
				1pt 0 0 black,
				1pt 1pt 0 black;
		}
	}

	& .item-delete-link {
		position: absolute;
		bottom: 0;
		right: 5px;
	}
}