.application.wfrp3e.party .window-content {
	& section[data-application-part="attributes"] {
		grid-template-areas:
			"tension-meter tension-meter"
			"header illustration"
			"events illustration"
			"members illustration"
			"special-ability special-ability"
			"sockets sockets";
		grid-template-columns: 1fr 250px;
		grid-template-rows: 40px 64px auto 100px auto auto;
		grid-gap: 8px;
		flex-grow: 1;
		display: grid;
		padding: 0;

		& h4 {
			text-align: center;
		}

		& .header {
			grid-area: header;
			margin: 0 auto;
			text-shadow: var(--outline-black);
			width: 385px;

			& * {
				color: white;
				font-variant-caps: small-caps;
				text-align: center;
			}

			& input {
				&[name="name"] {
					font-size: var(--font-size-20);
				}

				&[name="system.traits"] {
					font-style: italic;
				}
			}
		}

		& .members {
			display: flex;
			grid-area: members;

			& .member {
				position: relative;

				& [data-action="removeMember"] {
					bottom: 4px;
					position: absolute;
					right: 4px;
				}
			}
		}

		& .events {
			grid-area: events;

			& .title {
				font-size: var(--font-size-20);
				font-variant-caps: small-caps;
				font-weight: bold;
				text-align: center;
			}

			& .event {
				align-items: center;
				display: flex;
				flex-wrap: nowrap;
				gap: 16px;
				border-color: var(--color-fieldset-border);
				border-radius: 8px;

				& .threshold {
					flex: 0 0 32px;
					text-align: center;
				}
			}
		}

		& .illustration {
			flex-shrink: 1;
			grid-area: illustration;
			position: relative;

			& .fortune-token {
				bottom: 8px;
				position: absolute;
				right: 50%;
				transform: translate(50%);

				& > img {
					border: none;
					height: 48px;
				}

				& > .fortune-counter {
					color: white;
					font-size: var(--font-size-28);
					left: 50%;
					position: absolute;
					bottom: 2.5%;
					text-shadow: var(--outline-black);
					transform: translate(-50%);
				}

				&:hover > .fortune-counter {
					text-shadow: 0 0 8px var(--color-shadow-primary);
				}
			}
		}

		& .special-ability {
			grid-area: special-ability;

			& input[name="system.specialAbility.title"] {
				font-size: var(--font-size-20);
				font-variant-caps: small-caps;
				font-weight: bold;
				text-align: center;
			}
		}

		& .tension-meter {
			display: flex;
			grid-area: tension-meter;
			justify-content: center;

			& [data-action] {
				display: block;
				height: 40px;
				font-size: var(--font-size-28);
				padding-top: 8px;
				text-align: center;
				vertical-align: middle;
				width: 40px;
			}

			& .segment-container {
				display: flex;
				justify-content: center;

				& .segment {
					background-color: #c06030;
					border: 1px solid #a05040;
					color: white;
					height: 40px;
					flex: 0 0 40px;
					font-size: var(--font-size-28);
					padding-top: 2px;
					text-align: center;
					width: 40px;

					&.threshold,
					&:first-child {
						background-color: #184080;
						border-color: #803030;
					}

					&:last-child {
						background-color: #103040;
						border-color: #803030;
					}

					& > img {
						border: none;
						filter: drop-shadow(0 0 2px black);
					}

					& > input {
						display: none;
					}
				}
			}
		}

		& .sockets {
			grid-area: sockets;
			overflow: auto;

			& .socket {
				flex: 1 auto;
			}
		}
	}
}