.application.wfrp3e.selector .window-content {
	& section[data-application-part="main"] {
		display: flex;
		flex-direction: column;
		gap: 16px;
		min-height: 0;
	}

	& p[data-application-part="selection"] {
		text-align: center;

		& > span {
			font-style: italic;
			font-weight: bold;
		}
	}
}

.application.wfrp3e.skill-upgrader .window-content {
	& section[data-application-part="main"] {
		display: flex;
		flex-direction: column;
		overflow: auto;

		& > table {
			width: auto;
		}
	}

	& .skill-specialisations > label {
		align-items: center;
		display: flex;
		gap: 8px;

		& > * {
			flex: auto;
		}

		& > span {
			flex-shrink: 0;
		}
	}
}

.application.wfrp3e.talent-selector .window-content {
	& .item-container {
		max-height: 560px;
	}
}