.application.wfrp3e.selector .window-content {
	& section[data-application-part="main"] {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	& p[data-application-part="selection"] {
		text-align: center;

		& > span {
			font-style: italic;
			font-weight: bold;
		}
	}
}

.application.wfrp3e.origin-selector .window-content {
	padding-top: 64px;

	& label {
		transition: filter 0.25s ease-in-out;

		&.active {
			filter: drop-shadow(0 0 8px orange);
		}

		&:hover {
			filter: drop-shadow(0 0 8px var(--color-shadow-primary));
		}
	}

	& .introduction {
		font-size: var(--font-size-16);
	}

	& .item-container.origin {
		flex-wrap: nowrap;

		& > * {
			font-size: var(--font-size-16);
			font-variant-caps: small-caps;
			text-align: center;
			width: 100px;

			& img {
				margin-bottom: 1rem;
			}
		}
	}

	& .item-container.race {
		flex-wrap: nowrap;

		& > * {
			font-size: var(--font-size-24);
			font-variant-caps: small-caps;
			text-align: center;
			width: 200px;

			& img {
				margin-bottom: 1rem;
			}
		}
	}
}

.application.wfrp3e.skill-upgrader .window-content {
	& section[data-application-part="main"] {
		display: flex;
		flex-direction: column;
		overflow: auto;

		& > table {
			width: auto;
		}
	}

	& .skill-specialisations > label {
		align-items: center;
		display: flex;
		gap: 8px;

		& > * {
			flex: auto;
		}

		& > span {
			flex-shrink: 0;
		}
	}
}

.application.wfrp3e.talent-selector .window-content {
	& .item-container {
		max-height: 560px;
	}
}