.sheet {
	& nav.primary-tabs {
		font: small-caps bold var(--font-size-18) var(--font-primary);
	}

	& section > nav {
		border-top: none;
	}

	& .editor-content {
		margin: 0 0.5rem;
	}

	& .form-div {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		& > * {
			flex: 1 1 auto;
		}

		& input[type=number] {
			width: 2rem;
		}
	}

	& .form-label {
		align-items: center;
		display: flex;
		gap: 0.5rem;

		& > input {
			flex-grow: 1;
			width: unset;
		}
	}
}