.app.wfrp3e.sheet {
	& h1 input {
		font-family: var(--font-h1);
	}

	& form {
		display: flex;
		flex-direction: column;

		& a.active {
			color: white;
			text-shadow:
					-1px -1px 0 black,
					-1px 0 0 black,
					0 -1px 0 black,
					-1px 1px 0 black,
					1px -1px 0 black,
					0 1px 0 black,
					1px 0 0 black,
					1px 1px 0 black !important;
		}

		& hr {
			width: 100%;
		}

		& nav.primary-tabs {
			font: small-caps bold var(--font-size-18) var(--font-primary);
		}

		& .editor-container {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		& .sheet-body {
			display: flex;
			flex: 1 1 0;
			flex-direction: column;
			min-height: 0;

			& > .tab.active {
				flex-flow: column nowrap;
				height: 100%;
				overflow: auto;

				&.active {
					display: flex;
				}
			}

			& section > nav {
				border-top: none;
			}

			& .editor {
				background: rgba(250, 240, 230, 0.5);
				border-radius: 0.5rem;
				flex-grow: 1;
				min-height: 200px;

				& .editor-content {
					margin: 0 0.5rem;
				}
			}

			& .form-div {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;

				& > * {
					flex: 1 1 auto;
				}

				& input[type=number] {
					width: 2rem;
				}
			}

			& .form-label {
				align-items: center;
				display: flex;
				gap: 0.5rem;

				& > input {
					flex-grow: 1;
					width: unset;
				}
			}

			& .impairment {
				display: flex;
				margin: auto;
				flex: 1 1 auto;
				flex-direction: row;

				&:first-child {
					margin-bottom: 0.5rem;
				}

				&:last-child {
					margin-top: 0.5rem;
				}

				& > .token {
					position: relative;
					width: 4rem;

					& > * {
						position: absolute;
					}


					& > img {
						border: none;
						opacity: 75%;
						top: 50%;
						transform: translate(0, -50%);
					}

					& > .token-counter {
						color: white;
						font-size: 24pt;
						text-shadow:
								-1pt -1pt 0 black,
								-1pt 0 0 black,
								0 -1pt 0 black,
								-1pt 1pt 0 black,
								1pt -1pt 0 black,
								0 1pt 0 black,
								1pt 0 0 black,
								1pt 1pt 0 black;
					}
				}

				& .title {
					display: block;
					font: small-caps bold var(--font-size-18) var(--font-primary);
					padding: 0 2px 0 0.25rem;
					writing-mode: vertical-lr;
					text-align: center;
				}
			}

			& .item-container {
				display: none;
				flex-flow: row wrap;
				height: 100%;
				overflow: auto;

				&.active {
					display: flex;
				}
			}

			& .stance-meter {
				margin-bottom: 0.5rem;

				& .stance-meter-link > img {
					opacity: 50%;
				}

				& .stance-meter-segment {
					cursor: pointer;
					display: block;
					height: 27px;

					&.active {
						filter: drop-shadow(gold 0px 0px 0.25rem);
					}

					& > img {
						border: none;
						width: 32px;

						&.stance-neutral {
							width: 38px;
						}
					}

					& > input {
						display: none;
					}
				}

				& .stance-meter-segment-container {
					display: flex;
					justify-content: center;
				}
			}

			& .tab {
				overflow: unset;

				& .tab-content {
					min-height: 0;
				}

				& .sheet-tabs {
					border-bottom: 1px solid #b5b3a4;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-around;

					& > * {
						margin: 0 0.25rem;
					}
				}
			}

			& .table {
				display: flex;
				flex-direction: column;
				min-height: 0;

				& hr {
					margin: 0;
				}

				& > * hr {
					border: none;
					border-left: 1px solid var(--color-border-light-primary);
					border-right: 1px solid var(--color-border-light-highlight);
					height: 1rem;
					width: 1px;
				}

				& .buttons {
					font-size: 10pt;
					width: 2.5rem;
				}

				& .encumbrance {
					width: 5%;
				}

				& .quantity {
					width: 10%;
				}

				& .row {
					background: #D8CFC0;
					padding: 0.25rem;

					&:nth-of-type(even) {
						background: #E9E2DB;
					}

					&.skill {
						background: #EDE1D1;

						&:nth-of-type(even) {
							background: #E1CFB6;
						}
					}

					& .content {
						&:first-child {
							align-items: center;
							display: flex;
							text-align: center;
						}

						& .item-name-link {
							vertical-align: sub;
						}
					}
				}

				& .table-header {
					background: #7E1518;
					color: var(--color-text-light-highlight);
					display: flex;
					font-weight: bold;
					gap: 0.25rem;
					padding: 0.25rem;
					text-align: center;
					text-shadow: 1px 1px var(--color-shadow-dark);

					&.skill {
						background: initial;
						color: initial;
						font-variant-caps: small-caps;
						text-shadow: initial;
					}

					&.title {
						background: #3F0B0CFF;
						display: block;
					}

					& hr {
						border-right: 1px solid var(--color-border-light-primary);
					}
				}

				& .table-body {
					overflow: auto;
				}

				&.armour {
					& .armour-defence-value {
						width: 10%;
					}

					& .armour-image {
						width: 5%;
					}

					& .armour-soak-value {
						width: 10%;
					}

					& .armour-name {
						text-align: initial;
						width: 65%;
					}
				}

				&.money {
					& .money-name {
						text-align: initial;
						width: 65%;
					}

					& .money-image {
						width: 5%;
					}

					& .money-value {
						width: 10%;
					}
				}

				&.skill {
					& .buttons {
						width: 10%;
					}

					& .skill-characteristic {
						font-variant-caps: small-caps;
						width: 15%;
					}

					& .skill-name {
						font-variant-caps: small-caps;
						text-align: initial;
						width: 50%;
					}

					& .skill-training-level {
						width: 25%;
					}
				}

				&.trapping {
					& .trapping-image {
						width: 5%;
					}

					& .trapping-name {
						text-align: initial;
						width: 85%;
					}
				}

				&.weapon {
					& .weapon-critical-rating {
						width: 5%;
					}

					& .weapon-damage-rating {
						width: 5%;
					}

					& .weapon-group {
						width: 15%;
					}

					& .weapon-image {
						width: 5%;
					}

					& .weapon-name {
						text-align: initial;
						width: 20%;
					}

					& .weapon-qualities {
						width: 35%;
					}

					& .weapon-range {
						width: 10%;
					}
				}
			}

			& .trappings-tab {
				gap: 1rem;
			}
		}
	}
}

.application.wfrp3e {
	&.item .window-content > section.tab {
		&.effects > .effect {
			gap: 0.5rem;

			& > .icon {
				flex: 40px 0 0;
			}
		}

		&.trappings {
			gap: 1rem;
		}
	}

	& header.sheet-header {
		padding-bottom: 0.5rem;

		& input[name="name"] {
			flex: 3;
			font-family: var(--font-h1);
			font-size: var(--font-size-32);
			height: 100%;
		}

		& input:not([name="name"]) {
			flex: initial;
			font-size: initial;
		}

		& > .form-group > label {
			border-bottom: none;
			display: block;
			font: small-caps bold var(--font-size-18) var(--font-primary);
			margin: 0;
			text-align: center;
		}
	}

	& .window-content {
		&.standard-form {
			gap: 0
		}

		& nav.search-bar {
			border-bottom: 1px solid var(--color-border-light-primary);
			display: flex;
			position: relative;

			& > .filter-container {
				background: var(--background);
				border: 1px solid var(--color-border-light-primary);
				display: block;
				margin-top: 0;
				padding: 0.5rem 1rem;
				position: absolute;
				right: 1rem;
				top: 100%;
				z-index: 1;

				&:not(.show) {
					display: none;
				}
			}
		}

		& > section {
			&.tab > {
				& > *:not(a, nav.tabs):first-child {
					margin-top: 1rem;
				}

				& > a:first-child,
				& > nav.search-bar:first-child {
					margin-top: 0.5rem;
				}
			}

			& > p {
				font-size: 20pt;
				text-align: center;

				& > span {
					font-style: italic;
					font-weight: bold;
				}
			}

			& .impairment {
				display: flex;
				margin: auto;
				flex: 1 1 auto;
				flex-direction: row;

				&:first-child {
					margin-bottom: 0.5rem;
				}

				&:last-child {
					margin-top: 0.5rem;
				}

				& > .token {
					position: relative;
					width: 4rem;

					& > * {
						position: absolute;
					}


					& > img {
						border: none;
						opacity: 75%;
						top: 50%;
						transform: translate(0, -50%);
					}

					& > .token-counter {
						color: white;
						font-size: 24pt;
						text-shadow: -1pt -1pt 0 black,
							-1pt 0 0 black,
							0 -1pt 0 black,
							-1pt 1pt 0 black,
							1pt -1pt 0 black,
							0 1pt 0 black,
							1pt 0 0 black,
							1pt 1pt 0 black;
					}
				}

				& .title {
					display: block;
					font: small-caps bold var(--font-size-18) var(--font-primary);
					padding: 0 2px 0 4px;
					writing-mode: vertical-lr;
					text-align: center;
				}
			}

			& .stance-meter {
				margin-bottom: 0.5rem;

				& .stance-meter-segment {
					display: block;
					height: 27px;

					&.active {
						filter: drop-shadow(gold 0px 0px 4px);
					}

					&[data-action="adjustStanceMeter"] > img {
						opacity: 50%;
					}

					& > img {
						border: none;
						width: 32px;

						&.stance-neutral {
							width: 38px;
						}
					}

					& > input {
						display: none;
					}
				}

				& .stance-meter-segment-container {
					display: flex;
					justify-content: center;
				}
			}

			& .table {
				display: flex;
				flex-direction: column;

				&.skill {
					min-height: 0;

					& .characteristic {
						flex: 1 !important;
						font-variant-caps: small-caps;
					}

					& .name {
						font-variant-caps: small-caps;
						text-align: initial;
					}

					& .row {
						background: rgba(128, 128, 128, 0.125);

						&:nth-of-type(even) {
							background: none;
						}
					}

					& .table-header {
						background: initial;
						font-variant-caps: small-caps;
						text-shadow: initial;
					}

					& .training-level {
						flex: 2 !important;
						font-variant-caps: small-caps;
					}
				}

				& hr {
					margin: 0;
				}

				& > * hr {
					border: none;
					border-left: 1px solid var(--color-border-light-primary);
					border-right: 1px solid var(--color-border-light-highlight);
					height: 1rem;
					width: 1px;
				}

				& .buttons {
					flex: 0 1 2.5rem !important;
					font-size: 10pt;
					text-align: center;
					width: 2.5rem;
				}

				& .critical-rating,
				& .damage-rating,
				& .defence-value,
				& .encumbrance,
				& .quantity,
				& .soak-value,
				& .type,
				& .value {
					flex: 1 !important;
				}

				& .group,
				& .range {
					flex: 2 !important;
				}

				& .image {
					flex: 0 1 2.5rem !important;
				}

				& .name {
					text-align: initial;
				}

				& .recharge-tokens {
					flex: 0 1 3rem !important;
				}

				& .row {
					background: none;
					padding: 0.25rem;

					&:nth-of-type(even) {
						background: rgba(128, 128, 128, 0.125);
					}

					&.action {
						& .details .face {
							& > * {
								align-items: center;
								display: flex;

								& > * {
									flex: 1;
								}
							}

							&.conservative > * {
								background: rgba(0, 128, 0, 0.125);

								&:nth-of-type(even) {
									background: rgba(0, 255, 0, 0.125);
								}
							}

							&.reckless > * {
								background: rgba(64, 0, 0, 0.125);

								&:nth-of-type(even) {
									background: rgba(255, 0, 0, 0.125);
								}
							}

						}
					}

					&.talent {
						&.trick .content {
							background: rgba(0, 255, 0, 0.125);
						}

						&.focus .content {
							background: rgba(0, 0, 255, 0.125);
						}

						&.order .content {
							background: rgb(40, 28, 12, 0.125);
						}

						&.tactic .content {
							background: rgba(255, 0, 0, 0.125);
						}

						&.reputation .content {
							background: rgba(255, 0, 128, 0.125);
						}
					}

					& .content {
						align-items: center;
						display: flex;
						gap: 0.25rem;
						text-align: center;

						&.face {
							&:not(.active) {
								display: none;
							}
						}

						&.conservative {
							background: rgba(0, 255, 0, 0.125);
						}

						&.reckless {
							background: rgba(255, 0, 0, 0.125);
						}
					}
				}

				& .table-body {
					max-width: 100%;
					overflow: auto;
					scrollbar-gutter: stable;

					& .content > div {
						flex: 3;

						&:not(.buttons) * {
							vertical-align: sub;
						}

						&.buttons * {
							vertical-align: middle;
						}
					}
				}

				& .table-header {
					background: #7E1518;
					color: var(--color-text-light-highlight);
					display: flex;
					font-weight: bold;
					overflow: hidden;
					padding: 0.25rem;
					scrollbar-gutter: stable;
					text-align: center;
					text-shadow: 1px 1px var(--color-shadow-dark);

					&.title {
						background: #3F0B0CFF;
						display: block;
					}

					& > div {
						flex: 3;

						&:not(.buttons) * {
							vertical-align: sub;
						}
					}

					& hr {
						border-right: 1px solid var(--color-border-light-primary);
					}
				}
			}
		}

		& file-picker[name="img"] {
			display: none;
		}

		& .item-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			overflow: auto;

			& label {
				cursor: pointer;
				height: max-content;

				&.active .item {
					box-shadow: 0 0 1rem orange;
				}

				&:hover .item {
					box-shadow: 0 0 0.75rem var(--color-shadow-primary);
				}

				& .item {
					transition: box-shadow 0.5s ease;
				}

				& > input[type="radio"] {
					display: none;
				}
			}
		}
	}
}

body.theme-light .application.wfrp3e.sheet .window-content {& a.active {
		color: white;
		text-shadow:
				-1px -1px 0 black,
				-1px 0 0 black,
				0 -1px 0 black,
				-1px 1px 0 black,
				1px -1px 0 black,
				0 1px 0 black,
				1px 0 0 black,
				1px 1px 0 black !important;
	}

	& .table {
		& > * hr {border-left: 1px solid var(--color-border-light-primary);
			border-right: 1px solid var(--color-border-light-highlight);
		}

		& .row {
			background: #D8CFC0;

			&:nth-of-type(even) {
				background: #E9E2DB;
			}

			&.skill {
				background: #EDE1D1;

				&:nth-of-type(even) {
					background: #E1CFB6;
				}
			}
		}
	}
}

.standard-form {
	& nav.search-bar > .form-group {
		flex: 1 1;
		margin-bottom: 6px;

		& > a:last-child {
			align-self: flex-end;
			line-height: var(--form-field-height);
			margin-left: 0.25rem;
		}
	}

	& fieldset {
		&.inline {
			align-items: center;
			flex-flow: row wrap;
			justify-content: space-between;

			& > .form-group {
				flex: 1;

				&.expanded {
					flex: 3 0 max-content;
				}

				&.slim {
					flex: 0 fit-content;

					&:not(.stacked) {
						& > label {
							flex: max-content;
						}

						& > .form-fields {
							flex: fit-content;
						}
					}

					& .form-fields {
						justify-content: flex-start;

						& > input[type="number"], & > input[type="text"] {
							width: 50px;
						}
					}
				}

				&.stacked {
					flex-flow: column;
					justify-content: center;

					& > * {
						flex: 0 max-content;
					}

					& > label {
						width: max-content;
					}

					& .form-fields {
						justify-content: center;

						& > input[type="number"], & > input[type="text"] {
							flex: 1;
							text-align: center;
						}
					}
				}
			}
		}
	}

	& .container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		& .content {
			align-items: center;
			display: flex;
			gap: 1rem;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
		}
	}

	& .form-group {
		&.expanded:not(.stacked) {
			& > label {
				flex: 0 max-content;
				margin-right: 0.5rem;
			}
		}

		&.slim {
			flex: 0 min-content;
			gap: 0.25rem;

			& > label {
				width: max-content;
			}
		}

		& > a,
		& > span {
			flex: 0;
		}
	}

	& .form-fields > a {
		flex: 0;
	}

	.tab {
		gap: 0.5rem;
	}
}

nav {
	&.tabs {
		border-bottom-color: var(--color-tabs-border);
		line-height: 2;

		&.sheet-tabs {
			font-size: var(--font-size-18);
			font-weight: bold;
			font-variant-caps: small-caps;
		}
	}
}