.talent-card {
	border: 1px solid black;
	border-radius: 10px;
	display: grid;
	grid-template: 60px 1fr / 50px 1fr;
	grid-template-areas:
		'talent-card-type talent-card-name'
		'talent-card-type talent-card-content'
		'talent-card-type talent-card-bottom';
	height: 255px;
	margin: 8px;
	position: relative;
	width: 385px;

	& .talent-card-bottom {
		align-items: center;
		display: flex;

		& .item-delete-link {
			bottom: 5px;
			display: block;
			line-height: 0;
			padding: 2px 3px;
			position: absolute;
			right: 5px;
		}

		& .recharge-token {
			position: relative;

			& > img {
				border: none;
				height: 48px;
				opacity: 75%;
			}

			& > .recharge-token-counter {
				font-size: 32px;
				left: 50%;
				position: absolute;
				text-shadow:
					-1pt -1pt 0 white,
					-1pt 0 0 white,
					0 -1pt 0 white,
					-1pt 1pt 0 white,
					1pt -1pt 0 white,
					0 1pt 0 white,
					1pt 0 0 white,
					1pt 1pt 0 white;
				top: 60%;
				transform: translate(-50%, -50%);
			}

			&:hover > .recharge-token-counter {
				color: white;
				text-shadow: 0 0 8px var(--color-shadow-primary);
			}
		}

		& .talent-trigger {
			flex-grow: 1;
			text-align: center;
		}
	}

	& .talent-card-socket-select {
		position: absolute;
		top: 100%;
		width: 100%;
	}

	& .talent-card-content {
		font-size: 12pt;
		grid-area: talent-card-content;
		margin: auto 6px;
	}

	& .talent-card-name {
		background: padding-box saddlebrown;
		color: white;
		font-size: 20pt;
		grid-area: talent-card-name;
		margin: auto 0;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
	}

	& .talent-card-type {
		background-color: saddlebrown;
		color: white;
		display: block;
		font: small-caps bold 14pt var(--font-primary);
		grid-area: talent-card-type;
		margin: 10px auto;
		padding: 0 2px 0 4px;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		transform: rotate(180deg);
		writing-mode: vertical-lr;

		&.focus {
			background-color: blue;
		}

		&.reputation {
			background-color: purple;
		}

		&.tactic {
			background-color: red;
		}
	}
}