.talent.card {
	background: #f8f0e0;
	border: 1px solid black;
	border-radius: 8px;
	color: black;
	display: grid;
	grid-template: 64px 1fr / 48px 1fr;
	grid-template-areas:
		"type name"
		"type content"
		"type bottom";
	height: 255px;
	margin: 8px;
	position: relative;
	width: 385px;

	& .bottom-line {
		align-items: flex-end;
		grid-area: bottom;
		justify-content: space-between;
		margin: 4px 8px;
		position: relative;
	}

	& .content {
		font-size: var(--font-size-16);
		grid-area: content;
		margin: auto 8px;
	}

	& .name {
		background: padding-box saddlebrown;
		color: white;
		font: var(--font-size-28) var(--font-title);
		grid-area: name;
		height: 48px;
		margin: auto 0;
		padding: 8px;
		text-align: center;
		text-shadow: var(--outline-black);
	}

	& .type {
		background-color: saddlebrown;
		color: white;
		display: block;
		font: small-caps bold var(--font-size-18) var(--font-primary);
		grid-area: type;
		margin: 8px auto;
		padding: 0 2px 0 4px;
		text-align: center;
		text-shadow: var(--outline-black);
		transform: rotate(180deg);
		writing-mode: vertical-lr;

		&.focus {
			background-color: blue;
		}

		&.reputation {
			background-color: purple;
		}

		&.tactic {
			background-color: red;
		}
	}
}