.talent.card {
	background: #f8f0e0;
	border: 1px solid black;
	border-radius: 0.5rem;
	color: black;
	display: grid;
	grid-template: 4rem 1fr / 3rem 1fr;
	grid-template-areas:
		"type name"
		"type content"
		"type bottom";
	height: 255px;
	margin: 0.5rem;
	position: relative;
	width: 385px;

	& .bottom-line {
		align-items: flex-end;
		grid-area: bottom;
		justify-content: space-between;
		margin: 0.25rem 0.5rem;
		position: relative;
	}

	& .content {
		font-size: 12pt;
		grid-area: content;
		margin: auto 0.5rem;
	}

	& .name {
		background: padding-box saddlebrown;
		color: white;
		font: 20pt var(--font-title);
		grid-area: name;
		height: 3rem;
		margin: auto 0;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
	}

	& .type {
		background-color: saddlebrown;
		color: white;
		display: block;
		font: small-caps bold 14pt var(--font-primary);
		grid-area: type;
		margin: 0.5rem auto;
		padding: 0 2px 0 0.25rem;
		text-align: center;
		text-shadow:
			-1pt -1pt 0 black,
			-1pt 0 0 black,
			0 -1pt 0 black,
			-1pt 1pt 0 black,
			1pt -1pt 0 black,
			0 1pt 0 black,
			1pt 0 0 black,
			1pt 1pt 0 black;
		transform: rotate(180deg);
		writing-mode: vertical-lr;

		&.focus {
			background-color: blue;
		}

		&.reputation {
			background-color: purple;
		}

		&.tactic {
			background-color: red;
		}
	}
}