.application.sheet.trapping .trapping-cost {
	& .form-group {
		&.brass,
		&.brass > input {
			color: chocolate;
		}

		&.gold,
		&.gold > input {
			color: goldenrod;
		}

		&.silver,
		&.silver > input {
			color: lightgrey;
		}
	}
}

body.theme-light .application.sheet.trapping .trapping-cost .form-group {
	&.silver,
	&.silver > input {
		color: grey;
	}
}