@font-face {
	font-family: "ArnoPro";
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url(../assets/fonts/ArnoPro-Regular.otf) format('opentype');
}

@font-face {
	font-family: "ArnoPro";
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	src: url(../assets/fonts/ArnoPro-Bold.otf) format('opentype');
}

@font-face {
	font-family: "ArnoPro";
	font-stretch: normal;
	font-style: italic;
	font-weight: normal;
	src: url(../assets/fonts/ArnoPro-Italic.otf) format('opentype');
}

@font-face {
	font-family: "ArnoPro";
	font-stretch: normal;
	font-style: italic;
	font-weight: bold;
	src: url(../assets/fonts/ArnoPro-BoldItalic.otf) format('opentype');
}

@font-face {
	font-family: "WFRP3eSymbols";
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url(../assets/fonts/WFRP3eSymbols.otf) format('opentype');
}

@font-primary: "ArnoPro";
@font-symbols: "WFRP3eSymbols";
@font-title: "Caslon Antique";