@fontBlockquote: "ArnoPro";
@fontPrimary: "ArnoPro";
@fontSymbols: "WFRP3eSymbols";
@fontTitle: "Caslon Antique";

:root {
	--font-primary: @fontPrimary;
	--font-symbols: @fontSymbols;
	--font-title: @fontTitle;
	--outline-black: -1px -1px 0 black,
					 -1px 0 0 black,
					 0 -1px 0 black,
					 -1px 1px 0 black,
					 1px -1px 0 black,
					 0 1px 0 black,
					 1px 0 0 black,
					 1px 1px 0 black;
	--outline-white: -1px -1px 0 white,
					 -1px 0 0 white,
					 0 -1px 0 white,
					 -1px 1px 0 white,
					 1px -1px 0 white,
					 0 1px 0 white,
				 	1px 0 0 white,
				 	1px 1px 0 white;
}

body {
	--font-body: var(--font-primary);
	--font-blockquote: var(--font-primary);
	--font-h1: var(--font-title);
	--font-h2: var(--font-title);
	--font-h3: var(--font-title);
}