<section>
	<section class="item-container {{itemType}}">
		{{#each items as |item i|}}
			<label {{#if (includes item.uuid @root.selection)}}class="active"{{/if}}>
				{{>(concat "systems/wfrp3e/templates/applications/partials/" item.type "-card.hbs")
						currentStance="conservative"
						item=item}}

				<input name="selection" value="{{item.uuid}}"
					   type="{{#if @root.multiple}}checkbox{{else}}radio{{/if}}"
					   {{checked (includes item.uuid @root.selection)}}/>
			</label>
		{{/each}}
	</section>
</section>