<p>
	{{localize "SKILLUPGRADER.selectedUpgrade"}}

	<span class="selection">
		{{#if selectedItems.length}}
			{{#each selectedItems as |item i|}}
				{{localize (concat "SKILLUPGRADER." item.type "Upgrade") name=item.item.name value=item.value}}
				{{#unless @last}}, {{/unless}}
			{{/each}}
		{{else}}
			{{localize "SELECTOR.noSelection"}}
		{{/if}}
	</span>
</p>