<section>
	<fieldset>
		{{formGroup fields.threshold name="threshold" value=event.threshold classes="slim" rootId=rootId localize=true}}

		{{formGroup fields.description name="description" value=event.description rootId=rootId localize=true}}
	</fieldset>
</section>