<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#if career}}
		{{>systems/wfrp3e/templates/applications/partials/career-card.hbs item=career}}
	{{/if}}
</section>
