<div class="item career" data-item-id="{{career._id}}">
	{{>systems/wfrp3e/templates/applications/partials/career-card.hbs item=career}}

	{{>systems/wfrp3e/templates/applications/sheets/actors/partials/career-advancement.hbs
			fields=career.system.schema.fields.advances.fields
			rootId=(concat @root.rootId "-Item-" career._id)
			system=career.system.advances}}
</div>
