<form class="{{ cssClass }}" autocomplete="off">
	<header class="sheet-header">
		<input class="name_input" name="name" type="text" value="{{ item.name }}" placeholder="{{ localize "Name" }}'" />
	</header>

	{{ !-- Sheet Navigation Tab -- }}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="tab_link conservative_tab_link" data-tab="conservative">{{ localize "Conservative" }}</a>
		<a class="tab_link reckless_tab_link" data-tab="reckless">{{ localize "Reckless" }}</a>
	</nav>

	<section class="sheet-body">
		<div class="tab_div tab conservative_tab_link" data-group="primary" data-tab="conservative">
			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Name" }}</label>
				<input class="sheet_form_input" name="data.conservative.name" type="text" value="{{ data.data.conservative.name }}" placeholder="{{ localize "Name" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Art" }}</label>
				<input class="sheet_form_input" name="data.conservative.art" type="text" value="{{ data.data.conservative.art }}" placeholder="{{ localize "Art" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Type" }}</label>
				<select class="sheet_form_select" name="data.conservative.type" data-dtype="String">
					{{ selectOptions actionTypes selected=data.data.conservative.type }}
				</select>
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Traits" }}</label>
				<input class="sheet_form_input" name="data.conservative.traits" type="text" value="{{ data.data.conservative.traits }}" placeholder="{{ localize "Traits" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Recharge Rating" }}</label>
				<input class="sheet_form_input" name="data.conservative.recharge_rating" type="number" value="{{ data.data.conservative.recharge_rating }}" placeholder="{{ localize "Recharge Rating" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Challenge Dice" }}</label>
				<input class="sheet_form_input" name="data.conservative.difficulty_modifiers.challenge_dice" type="number" value="{{ data.data.conservative.difficulty_modifiers.challenge_dice }}" placeholder="{{ localize "Challenge Dice" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Misfortune Dice" }}</label>
				<input class="sheet_form_input" name="data.conservative.difficulty_modifiers.misfortune_dice" type="number" value="{{ data.data.conservative.difficulty_modifiers.misfortune_dice }}" placeholder="{{ localize "Misfortune Dice" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Check" }}</label>
				<input class="sheet_form_input" name="data.conservative.check" type="text" value="{{ data.data.conservative.check }}" placeholder="{{ localize "Check" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Conservative" }} - {{ localize "Requirements" }}</label>
				<input class="sheet_form_input" name="data.conservative.requirements" type="text" value="{{ data.data.conservative.requirements }}" placeholder="{{ localize "Requirements" }}" />
			</div>

			{{ editor content=data.data.conservative.effects target="data.conservative.effects" button=true owner=owner editable=editable }}
		</div>

		<div class="tab_div tab reckless_tab_link" data-group="primary" data-tab="reckless">
			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Name" }}</label>
				<input class="sheet_form_input" name="data.reckless.name" type="text" value="{{ data.data.reckless.name }}" placeholder="{{ localize "Name" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Art" }}</label>
				<input class="sheet_form_input" name="data.reckless.art" type="text" value="{{ data.data.reckless.art }}" placeholder="{{ localize "Art" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Type" }}</label>
				<select class="sheet_form_select" name="data.reckless.type" data-dtype="String">
					{{ selectOptions actionTypes selected=data.data.reckless.type }}
				</select>
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Traits" }}</label>
				<input class="sheet_form_input" name="data.reckless.traits" type="text" value="{{ data.data.reckless.traits }}" placeholder="{{ localize "Traits" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Recharge Rating" }}</label>
				<input class="sheet_form_input" name="data.reckless.recharge_rating" type="number" value="{{ data.data.reckless.recharge_rating }}" placeholder="{{ localize "Recharge Rating" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Challenge Dice" }}</label>
				<input class="sheet_form_input" name="data.reckless.difficulty_modifiers.challenge_dice" type="number" value="{{ data.data.reckless.difficulty_modifiers.challenge_dice }}" placeholder="{{ localize "Challenge Dice" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Misfortune Dice" }}</label>
				<input class="sheet_form_input" name="data.reckless.difficulty_modifiers.misfortune_dice" type="number" value="{{ data.data.reckless.difficulty_modifiers.misfortune_dice }}" placeholder="{{ localize "Misfortune Dice" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Check" }}</label>
				<input class="sheet_form_input" name="data.reckless.check" type="text" value="{{ data.data.reckless.check }}" placeholder="{{ localize "Check" }}" />
			</div>

			<div class="sheet_form_div">
				<label class="sheet_form_label">{{ localize "Reckless" }} - {{ localize "Requirements" }}</label>
				<input class="sheet_form_input" name="data.reckless.requirements" type="text" value="{{ data.data.reckless.requirements }}" placeholder="{{ localize "Requirements" }}" />
			</div>

			{{ editor content=data.data.reckless.effects target="data.reckless.effects" button=true owner=owner editable=editable }}
		</div>
	</section>
</form>