<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}'" /></h1>
	</header>

	{{!--Sheet Navigation Tab--}}
	<nav class="action-sheet-tabs sheet-tabs tabs" data-group="primary">
		<a class="tab-link conservative-tab-link" data-tab="conservative">{{localize 'ACTION.Conservative'}}</a>
		<a class="tab-link reckless-tab-link" data-tab="reckless">{{localize 'ACTION.Reckless'}}</a>
	</nav>

	<section class="action-sheet-body sheet-body">
		<div class="tab tab-container conservative-tab-link" data-group="primary" data-tab="conservative">
			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Name'}}</label>
				<input class="sheet-form-input" name="system.conservative.name" type="text" value="{{item.system.conservative.name}}" placeholder="{{localize 'ACTION.Name'}}" />
			</div>

			<div class="sheet-form-div action-art-selector">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Art'}}</label>
				<img class="sheet-form-input" src="{{item.system.conservative.art}}" data-edit="system.conservative.art" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Type'}}</label>
				<select class="sheet-form-select" name="system.conservative.type" data-dtype="String">
					{{selectOptions actionTypes selected=item.system.conservative.type localize=true}}
				</select>
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Traits'}}</label>
				<input class="sheet-form-input" name="system.conservative.traits" type="text" value="{{item.system.conservative.traits}}" placeholder="{{localize 'ACTION.Traits'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.RechargeRating'}}</label>
				<input class="sheet-form-input" name="system.conservative.rechargeRating" type="number" value="{{item.system.conservative.rechargeRating}}" placeholder="{{localize 'ACTION.RechargeRating'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.ChallengeDice'}}</label>
				<input class="sheet-form-input" name="system.conservative.difficultyModifiers.challengeDice" type="number" value="{{item.system.conservative.difficultyModifiers.challengeDice}}" placeholder="{{localize 'ACTION.ChallengeDice'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.MisfortuneDice'}}</label>
				<input class="sheet-form-input" name="system.conservative.difficultyModifiers.misfortuneDice" type="number" value="{{item.system.conservative.difficultyModifiers.misfortuneDice}}" placeholder="{{localize 'ACTION.MisfortuneDice'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Check'}}</label>
				<input class="sheet-form-input" name="system.conservative.check" type="text" value="{{item.system.conservative.check}}" placeholder="{{localize 'ACTION.Check'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Conservative'}} - {{localize 'ACTION.Requirements'}}</label>
				<input class="sheet-form-input" name="system.conservative.requirements" type="text" value="{{item.system.conservative.requirements}}" placeholder="{{localize 'ACTION.Requirements'}}" />
			</div>

			{{editor item.system.conservative.effects target="system.conservative.effects" button=true owner=owner editable=editable}}
		</div>

		<div class="tab tab-container reckless-tab-link" data-group="primary" data-tab="reckless">
			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Name'}}</label>
				<input class="sheet-form-input" name="system.reckless.name" type="text" value="{{item.system.reckless.name}}" placeholder="{{localize 'ACTION.Name'}}" />
			</div>

			<div class="sheet-form-div action-art-selector">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Art'}}</label>
				<img class="sheet-form-input" src="{{item.system.reckless.art}}" data-edit="system.reckless.art" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Type'}}</label>
				<select class="sheet-form-select" name="system.reckless.type" data-dtype="String">
					{{selectOptions actionTypes selected=item.system.reckless.type localize=true}}
				</select>
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Traits'}}</label>
				<input class="sheet-form-input" name="system.reckless.traits" type="text" value="{{item.system.reckless.traits}}" placeholder="{{localize 'ACTION.Traits'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.RechargeRating'}}</label>
				<input class="sheet-form-input" name="system.reckless.rechargeRating" type="number" value="{{item.system.reckless.rechargeRating}}" placeholder="{{localize 'ACTION.RechargeRating'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.ChallengeDice'}}</label>
				<input class="sheet-form-input" name="system.reckless.difficultyModifiers.challengeDice" type="number" value="{{item.system.reckless.difficultyModifiers.challengeDice}}" placeholder="{{localize 'ACTION.ChallengeDice'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.MisfortuneDice'}}</label>
				<input class="sheet-form-input" name="system.reckless.difficultyModifiers.misfortuneDice" type="number" value="{{item.system.reckless.difficultyModifiers.misfortuneDice}}" placeholder="{{localize 'ACTION.MisfortuneDice'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Check'}}</label>
				<input class="sheet-form-input" name="system.reckless.check" type="text" value="{{item.system.reckless.check}}" placeholder="{{localize 'ACTION.Check'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'ACTION.Reckless'}} - {{localize 'ACTION.Requirements'}}</label>
				<input class="sheet-form-input" name="system.reckless.requirements" type="text" value="{{item.system.reckless.requirements}}" placeholder="{{localize 'ACTION.Requirements'}}" />
			</div>

			{{editor item.system.reckless.effects target="system.reckless.effects" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>