<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<input class="name_input" name="name" type="text" value="{{item.name}}" placeholder="Name" />
	</header>

	<section class="sheet-body">
		<div class="sheet_form_div">
			<label class="sheet_form_label">{{localize 'Defence Value'}}</label>
			<input class="sheet_form_input" name="system.defence_value" type="number" value="{{item.system.defence_value}}" placeholder="{{localize 'Defence'}}" data-dtype="Number" />
		</div>

		<div class="sheet_form_div">
			<label class="sheet_form_label">{{localize 'Soak Value'}}</label>
			<input class="sheet_form_input" name="system.soak_value" type="number" value="{{item.system.soak_value}}" placeholder="{{localize 'Soak'}}" data-dtype="Number" />
		</div>

		<div class="sheet_form_div">
			<label class="sheet_form_label">{{localize 'Cost'}}</label>
			<input class="sheet_form_input" name="system.cost.brass" type="number" value="{{item.system.cost.brass}}" placeholder="{{localize 'Brass'}}" data-dtype="Number" />
			<input class="sheet_form_input" name="system.cost.silver" type="number" value="{{item.system.cost.silver}}" placeholder="{{localize 'Silver'}}" data-dtype="Number" />
			<input class="sheet_form_input" name="system.cost.gold" type="number" value="{{item.system.cost.gold}}" placeholder="{{localize 'Gold'}}" data-dtype="Number" />
		</div>

		<div class="sheet_form_div">
			<label class="sheet_form_label">{{localize 'Encumbrance'}}</label>
			<input class="sheet_form_input" name="system.encumbrance" type="number" value="{{item.system.encumbrance}}" placeholder="{{localize 'Enc'}}" data-dtype="Number" />
		</div>

		<div class="sheet_form_div">
			<label class="sheet_form_label">{{localize 'Rarity'}}</label>
			<select class="sheet_form_select" name="system.rarity" data-dtype="String">
				{{selectOptions rarities selected=item.system.rarity}}
			</select>
		</div>

		{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
	</section>
</form>