<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" /></h1>
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.AdvancedCareer'}}</label>
			<input class="sheet-form-input" name="system.advanced" type="checkbox" value="{{item.system.advanced}}"{{#if item.system.advanced}} checked{{/if}} />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.RaceRestrictions'}}</label>
			<input class="sheet-form-input" name="system.raceRestrictions" type="text" value="{{item.system.raceRestrictions}}" placeholder="{{localize 'Race Restrictions'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'Traits'}}</label>
			<input class="sheet-form-input" name="system.traits" type="text" value="{{item.system.traits}}" placeholder="{{localize 'Traits'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.TalentSockets'}}</label>

			{{#each item.system.talentSockets as |type ty|}}
				<select class="career-sheet-talent-socket-select sheet-form-select" name="system.talentSockets.{{ty}}" data-dtype="String">
					{{selectOptions ../talentTypes selected=type localize=true}}
				</select>
			{{/each}}

			<a class="talent-socket-remove"><span class="fas fa-minus"></span></a>
			<a class="talent-socket-add"><span class="fas fa-plus"></span></a>
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.PrimaryCharacteristics'}}</label>

			{{#each item.system.primaryCharacteristics as |characteristic char|}}
				<select name="system.primaryCharacteristics.{{char}}" data-dtype="String">
					{{selectOptions ../characteristics selected=characteristic localize=true}}
				</select>
			{{/each}}
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.CareerSkills'}}</label>
			<input class="sheet-form-input" name="system.careerSkills" type="text" value="{{item.system.careerSkills}}" placeholder="{{localize 'Career Skills'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.StartingConservativeSegments'}}</label>
			<input class="sheet-form-input" name="system.startingStance.conservativeSegments" type="number" value="{{item.system.startingStance.conservativeSegments}}" placeholder="{{localize 'Starting Conservative Segments'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.StartingRecklessSegments'}}</label>
			<input class="sheet-form-input" name="system.startingStance.recklessSegments" type="number" value="{{item.system.startingStance.recklessSegments}}" placeholder="{{localize 'Starting Reckless Segments'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.ActionAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.action" type="number" value="{{item.system.advanceOptions.action}}" placeholder="{{localize 'Action Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.TalentAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.talent" type="number" value="{{item.system.advanceOptions.talent}}" placeholder="{{localize 'Talent Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.SkillAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.skill" type="number" value="{{item.system.advanceOptions.skill}}" placeholder="{{localize 'Skill Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.FortuneAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.fortune" type="number" value="{{item.system.advanceOptions.fortune}}" placeholder="{{localize 'Fortune Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.ConservativeAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.conservative" type="number" value="{{item.system.advanceOptions.conservative}}" placeholder="{{localize 'Conservative Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.RecklessAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.reckless" type="number" value="{{item.system.advanceOptions.reckless}}" placeholder="{{localize 'Reckless Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.WoundsAdvanceOptions'}}</label>
			<input class="sheet-form-input" name="system.advanceOptions.wound" type="number" value="{{item.system.advanceOptions.wound}}" placeholder="{{localize 'Wounds Advance Options'}}" />
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CAREER.Summary'}}</label>
			<input class="sheet-form-input" name="system.sommary" type="text" value="{{item.system.sommary}}" placeholder="{{localize 'Sommary'}}" />
		</div>

		{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
	</section>
</form>