<form class="{{cssClass}}" autocomplete="off">
	<header class="character-sheet-header sheet-header">
		<img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

		<input class="name-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
	</header>

	{{!--Sheet Navigation Tab--}}
	<nav class="character-sheet-primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="tab-link characteristics-tab-link" data-tab="characteristics">{{localize 'Characteristics'}}</a>
		<a class="tab-link careers-tab-link" data-tab="careers">{{localize 'Careers'}}</a>
		<a class="tab-link talents-tab-link" data-tab="talents">{{localize 'Talents'}}</a>
		<a class="tab-link actions-tab-link" data-tab="actions">{{localize 'Actions'}}</a>
		<a class="tab-link trappings-tab-link" data-tab="trappings">{{localize 'Trappings'}}</a>
		<a class="tab-link background-tab-link" data-tab="background">{{localize 'Background'}}</a>
	</nav>

	<div class="character-sheet-body sheet-body">
		<section class="tab characteristics-tab" data-group="primary" data-tab="characteristics">
			<div class="characteristics-and-impairments">
				<span class="character-sheet-title">{{localize 'Characteristics'}}</span>

				<div class="characteristics-and-impairments-subdivision">
					<div class="impairments">
						{{>systems/wfrp3e/templates/partials/impairment-partial.html
							class='fatigue' title='Fatigue'
							dataPath='system.impairments.fatigue'
							value=actor.system.impairments.fatigue}}

						{{>systems/wfrp3e/templates/partials/impairment-partial.html
							class='stress' title='Stress'
							dataPath='system.impairments.stress'
							value=actor.system.impairments.stress}}
					</div>

					<div class="characteristics">
						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Strength'
							abbreviation='St'
							dataPath='system.attributes.characteristics.strength'
							value=actor.system.attributes.characteristics.strength.value
							fortune=actor.system.attributes.characteristics.strength.fortune}}

						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Toughness'
							abbreviation='To'
							dataPath='system.attributes.characteristics.toughness'
							value=actor.system.attributes.characteristics.toughness.value
							fortune=actor.system.attributes.characteristics.toughness.fortune}}

						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Agility'
							abbreviation='Ag'
							dataPath='system.attributes.characteristics.agility'
							value=actor.system.attributes.characteristics.agility.value
							fortune=actor.system.attributes.characteristics.agility.fortune}}

						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Intelligence'
							abbreviation='Int'
							dataPath='system.attributes.characteristics.intelligence'
							value=actor.system.attributes.characteristics.intelligence.value
							fortune=actor.system.attributes.characteristics.intelligence.fortune}}

						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Willpower'
							abbreviation='WP'
							dataPath='system.attributes.characteristics.willpower'
							value=actor.system.attributes.characteristics.willpower.value
							fortune=actor.system.attributes.characteristics.willpower.fortune}}

						{{>systems/wfrp3e/templates/partials/characteristic-partial.html
							title='Fellowship'
							abbreviation='Fel'
							dataPath='system.attributes.characteristics.fellowship'
							value=actor.system.attributes.characteristics.fellowship.value
							fortune=actor.system.attributes.characteristics.fellowship.fortune}}
					</div>
				</div>
			</div>

			<div class="attributes">
				<div class="attributes-subdivision">
					{{>systems/wfrp3e/templates/partials/attribute-partial.html
						class='wounds'
						title='Wounds'
						maxTitle='Threshold'
						dataPath='system.attributes.wounds'
						max=actor.system.attributes.wounds.threshold
						value=actor.system.attributes.wounds.value}}

					{{>systems/wfrp3e/templates/partials/attribute-partial.html
						class='corruption'
						title='Corruption'
						maxTitle='Threshold'
						dataPath='system.attributes.corruption'
						max=actor.system.attributes.corruption.threshold
						value=actor.system.attributes.corruption.value}}

					{{>systems/wfrp3e/templates/partials/attribute-partial.html
						class='fortune'
						title='Fortune'
						maxTitle='Maximum'
						dataPath='system.attributes.fortune'
						max=actor.system.attributes.fortune.maximum
						value=actor.system.attributes.fortune.value}}
				</div>

				<div class="stance-meter">
					<span class="character-sheet-title">{{localize 'Stances'}}</span>
					<input class="stance-slider" name="system.attributes.stance.current" type="range" min="-{{actor.stanceMeter.conservative}}" max="{{actor.stanceMeter.reckless}}" step="1" value="{{actor.system.attributes.stance.current}}" />
				</div>
			</div>

			<div class="skills">
				<span class="character-sheet-title">{{localize 'Skills'}}</span>
				<table class="skill-table">
					<tbody>
						{{#each items.skills as |skill sk|}}
							{{>systems/wfrp3e/templates/partials/item-skill-row.html skill=skill}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</section>

		<section class="tab careers-tab" data-group="primary" data-tab="careers">
			<div class="character-sheet-career-tabs sheet-tabs" data-group="careers">
				{{#each items.careers as |career|}}
					<a class="tab-link" data-tab="{{career._id}}">{{career.name}}</a>
				{{/each}}
			</div>

			<div class="character-sheet-careers">
				{{#each items.careers as |career|}}
					<div class="career-container item-container" data-group="careers" data-tab="{{career._id}}">
						{{>systems/wfrp3e/templates/partials/item-career-partial.html career=career}}
					</div>
				{{/each}}
			</div>
		</section>

		<section class="tab talents-tab" data-group="primary" data-tab="talents">
			<div class="character-sheet-talent-tabs sheet-tabs" data-group="talents">
				{{#if items.talents.focus}}
					<a class="tab-link focus" data-tab="focus">{{localize 'Focus'}}</a>
				{{/if}}

				{{#if items.talents.reputation}}
					<a class="tab-link reputation" data-tab="reputation">{{localize 'Reputation'}}</a>
				{{/if}}

				{{#if items.talents.tactic}}
					<a class="tab-link tactic" data-tab="tactic">{{localize 'Tactic'}}</a>
				{{/if}}

				{{#if items.talents.faith}}
					<a class="tab-link faith" data-tab="faith">{{localize 'Faith'}}</a>
				{{/if}}

				{{#if items.talents.order}}
					<a class="tab-link order" data-tab="order">{{localize 'Order'}}</a>
				{{/if}}

				{{#if items.talents.trick}}
					<a class="tab-link trick" data-tab="trick">{{localize 'Trick'}}</a>
				{{/if}}
			</div>

			<div class="character-sheet-talents">
				{{#if items.talents.focus}}
					<div class="talent-container focus item-container" data-group="talents" data-tab="focus">
						{{#each items.talents.focus as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.talents.reputation}}
					<div class="talent-container reputation item-container" data-group="talents" data-tab="reputation">
						{{#each items.talents.reputation as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
						</div>
					</div>
				{{/if}}

				{{#if items.talents.tactic}}
					<div class="talent-container tactic item-container" data-group="talents" data-tab="tactic">
						{{#each items.talents.tactic as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.talents.faith}}
					<div class="talent-container faith item-container" data-group="talents" data-tab="faith">
						{{#each items.talents.faith as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.talents.order}}
					<div class="talent-container order item-container" data-group="talents" data-tab="order">
						{{#each items.talents.order as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.talents.tricks}}
					<div class="talent-container trick item-container" data-group="talents" data-tab="trick">
						{{#each items.talents.tricks as |talent ta|}}
							{{>systems/wfrp3e/templates/partials/item-talent-card.html talent=talent}}
						{{/each}}
					</div>
				{{/if}}
			</div>
		</section>

		<section class="tab actions-tab" data-group="primary" data-tab="actions">
			<div class="character-sheet-action-tabs sheet-tabs" data-group="actions">
				{{#if items.actions.melee}}
					<a class="tab-link melee" data-tab="melee">{{localize 'Melee'}}</a>
				{{/if}}

				{{#if items.actions.ranged}}
					<a class="tab-link ranged" data-tab="ranged">{{localize 'Ranged'}}</a>
				{{/if}}

				{{#if items.actions.support}}
					<a class="tab-link support" data-tab="support">{{localize 'Support'}}</a>
				{{/if}}

				{{#if items.actions.blessing}}
					<a class="tab-link blessing" data-tab="blessing">{{localize 'Blessing'}}</a>
				{{/if}}

				{{#if items.actions.spell}}
					<a class="tab-link spell" data-tab="spell">{{localize 'Spell'}}</a>
				{{/if}}
			</div>

			<div class="character-sheet-actions">
				{{#if items.actions.melee}}
					<div class="action-container melee item-container" data-group="actions" data-tab="melee">
						{{#each items.actions.melee as |action act|}}
							{{>systems/wfrp3e/templates/partials/item-action-card.html action=action}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.actions.ranged}}
					<div class="action-container ranged item-container" data-group="actions" data-tab="ranged">
						{{#each items.actions.ranged as |action act|}}
							{{>systems/wfrp3e/templates/partials/item-action-card.html action=action}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.actions.support}}
					<div class="action-container support item-container" data-group="actions" data-tab="support">
						{{#each items.actions.support as |action act|}}
							{{>systems/wfrp3e/templates/partials/item-action-card.html action=action}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.actions.blessing}}
					<div class="action-container blessing item-container" data-group="actions" data-tab="blessing">
						{{#each items.actions.blessing as |action act|}}
							{{>systems/wfrp3e/templates/partials/item-action-card.html action=action}}
						{{/each}}
					</div>
				{{/if}}

				{{#if items.actions.spell}}
					<div class="action-container spell item-container" data-group="actions" data-tab="spell">
						{{#each items.actions.spell as |action act|}}
							{{>systems/wfrp3e/templates/partials/item-action-card.html action=action}}
						{{/each}}
					</div>
				{{/if}}
			</div>
		</section>

		<section class="tab trappings-tab" data-group="primary" data-tab="trappings">
			<table class="weapon-table">
				<thead>
					<tr><th colspan="8"><span>{{localize 'Weapons'}}</span></th></tr>
					<tr>
						<th class="left-aligned"><span>{{localize 'Name'}}</span></th>
						<th class="shrinked"><span>{{localize 'DR'}}</span></th>
						<th class="shrinked"><span>{{localize 'CR'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Range'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Qualities'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Group'}}</span></th>
						<th class="shrinked"><span>{{localize 'Enc'}}</span></th>
						<th class="shrinked"></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.weapons as |weapon wp|}}
						{{>systems/wfrp3e/templates/partials/item-weapon-row.html weapon=weapon}}
					{{/each}}
				</tbody>
			</table>

			<table class="armour-table">
				<thead>
					<tr><th colspan="8"><span>{{localize 'Armours'}}</span></th></tr>
					<tr>
						<th class="left-aligned"><span>{{localize 'Name'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Defence'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Soak'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Enc'}}</span></th>
						<th class="shrinked"></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.armours as |armour arm|}}
						{{>systems/wfrp3e/templates/partials/item-armour-row.html armour=armour}}
					{{/each}}
				</tbody>
			</table>

			<table class="trapping-table">
				<thead>
					<tr><th colspan="8"><span>{{localize "Trappings"}}</span></th></tr>
					<tr>
						<th class="left-aligned"><span>{{localize 'Name'}}</span></th>
						<th class="left-aligned"><span>{{localize 'Description'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Enc'}}</span></th>
						<th class="shrinked"></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.trappings as |trapping trp|}}
						{{>systems/wfrp3e/templates/partials/item-trapping-row.html trapping=trapping}}
					{{/each}}
				</tbody>
			</table>

			<table class="money-table">
				<thead>
					<tr><th colspan="8"><span>{{localize 'Money'}}</span></th></tr>
					<tr>
						<th class="left-aligned"><span>{{localize 'Name'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Value'}}</span></th>
						<th class="center-aligned"><span>{{localize 'Qu'}}</span></th>
						<th class="shrinked"></th>
					</tr>
				</thead>
				<tbody>
					{{#each items.money as |money mo|}}
						{{>systems/wfrp3e/templates/partials/item-money-row.html money=money}}
					{{/each}}
				</tbody>
			</table>
		</section>

		<section class="tab background-tab" data-group="primary" data-tab="background">
			{{editor actor.system.background.biography target='system.background.biography' button=true owner=owner editable=editable}}
		</section>
	</div>
</form>