<form class="{{cssClass}}" autocomplete="off">
	<header class="party-sheet-tension-meter">
		<a class="party-sheet-tension-meter-minus" title="{{localize 'PARTY.TENSIONMETER.Decrease'}}"><span class="fas fa-minus"></span></a>

		<div class="party-sheet-tension-meter-segment-container">
			{{#for 0 (increment actor.system.tension.maximum 1) 1}}
				<a class="party-sheet-tension-meter-segment{{#if (or (equalTo ../actor.system.tension.events.0.threshold this) (equalTo ../actor.system.tension.events.1.threshold this))}} threshold{{/if}}">
					{{#if (equalTo ../actor.system.tension.value this)}}
						<img src="systems/wfrp3e/assets/images/token-grey.webp"/>
					{{else}}
						{{this}}
					{{/if}}

					<input name="system.tension.value" type="radio" value="{{this}}" data-dtype="Number"{{#if (equalTo ../actor.system.tension.value this)}} checked{{/if}} />
				</a>
			{{/for}}
		</div>

		<a class="party-sheet-tension-meter-plus" title="{{localize 'PARTY.TENSIONMETER.Increase'}}"><span class="fas fa-plus"></span></a>
	</header>

	<div class="party-sheet-body">
		<div class="party-sheet-left-side">
			<div class="party-sheet-header">
				<input class="party-sheet-name" name="name" type="text" value="{{actor.name}}" placeholder="Name"  title="Name" />
				<input class="party-sheet-traits" name="system.traits" type="text" value="{{actor.system.traits}}" placeholder="{{localize 'PARTY.Traits'}}" title="{{localize 'PARTY.Traits'}}" />
			</div>

			<div class="party-sheet-tension">
				<div class="party-sheet-tension-title">{{localize 'PARTY.TENSIONMETER.Title'}}</div>
				{{#each actor.system.tension.events as |event ev|}}
					<hr>
					<div class="party-sheet-tension-event">
						<input class="party-sheet-tension-event-threshold" name="system.tension.events.{{ev}}.threshold" type="number" value="{{event.threshold}}" min="0" max="{{actor.system.tension.maximum}}" title="{{localize 'PARTY.TENSIONEVENT.Threshold'}}" />
						<input class="party-sheet-tension-event-effects" name="system.tension.events.{{ev}}.effects" type="text" value="{{event.effects}}" placeholder="{{localize 'PARTY.TENSIONEVENT.Effects'}}" title="{{localize 'PARTY.TENSIONEVENT.Effects'}}" />
					</div>
				{{/each}}
			</div>

			<div class="party-sheet-members">
				{{#each actor.memberActors as |actor act|}}
					<div class="party-sheet-member" data-actor-id="{{actor.id}}">
						<a class="party-sheet-member-portrait" title="{{actor.name}}">
							<img src="{{actor.img}}" width="50" height="50" />
						</a>
						<a class="party-sheet-member-remove" title="{{localize 'PARTY.RemoveMember'}}"><span class="fas fa-trash"></span></a>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="party-sheet-right-side">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250"/>

			<div class="party-sheet-fortune-pool">
				<label>{{localize 'PARTY.FortunePool'}}</label>
				<input name="system.fortunePool" type="number" value="{{actor.system.fortunePool}}" placeholder="{{localize 'PARTY.FortunePool'}}" title="{{localize 'PARTY.FortunePool'}}">
			</div>
		</div>
	</div>

	<div class="party-sheet-special-ability">
		<input class="party-sheet-special-ability-title" name="system.specialAbility.title" type="text" value="{{actor.system.specialAbility.title}}" placeholder="{{localize 'PARTY.SpecialAbility.Title'}}" title="{{localize 'PARTY.SpecialAbility.Title'}}" />
		<div class="party-sheet-special-ability-description">
			{{editor actor.system.specialAbility.description target='system.specialAbility.description' button=true owner=owner editable=editable}}
		</div>
	</div>

	<footer class="sheet-footer party-sheet-footer">
		{{#each actor.system.talentSockets as |type ty|}}
			<select class="sheet-form-select party-sheet-talent-socket" name="system.talentSockets.{{ty}}" data-dtype="String" title="{{localize 'PARTY.TalentSocket'}}">
				{{selectOptions ../talentTypes selected=type localize=true}}
			</select>
		{{/each}}
		<div class="party-sheet-talent-socket-button-container">
			<a class="talent-socket-delete"><span class="fas fa-trash"></span></a>
			<a class="talent-socket-add"><span class="fas fa-plus"></span></a>
		</div>
	</footer>
</form>