<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<h1>
			<input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"/>
		</h1>
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'SKILL.Characteristic'}}</label>
			<select class="sheet-form-select" name="system.characteristic" data-dtype="String">
				{{selectOptions characteristics selected=item.system.characteristic localize=true}}
			</select>
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'SKILL.AdvancedSkill'}}</label>
			<input class="sheet-form-input" name="system.advanced" type="checkbox" value="{{item.system.advanced}}"{{#if item.system.advanced}} checked{{/if}}>
		</div>

		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</section>
</form>