<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="Name" />
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<select class="sheet-form-select" name="system.type" data-dtype="String">
				{{selectOptions talentTypes selected=item.system.type}}
			</select>
		</div>

		{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
	</section>
</form>