@import "components/action_card";
@import "components/action_sheet";
@import "components/career_sheet";
@import "components/career_edit_sheet";
@import "components/character_generator";
@import "components/character_sheet";
@import "components/check_builder";
@import "components/condition_card";
@import "components/creature_sheet";
@import "components/disease_card";
@import "components/group_sheet";
@import "components/insanity_card";
@import "components/trapping_sheet";
@import "components/miscast_card";
@import "components/mutation_card";
@import "components/party_sheet";
@import "components/roll_message";
@import "components/sheet";
@import "components/talent_card";
@import "components/typography";
@import "components/weapon_sheet";
@import "components/wound_card";

body {
	font: 12pt @font-primary;
}

h1 {
	font: 32pt @font-title;
}

h2 {
	font: 24pt @font-title;
}

h3 {
	font: 20pt @font-title;

	&.entity-name, .encounters &, .folder-header &, #players &, #pause & {
		background: unset;
		border: unset !important;
	}
}

h4 {
	font: 16pt @font-primary;
	margin: auto !important;
}

h5 {
	font: 14pt @font-primary;
}

h6 {
	font: 12pt @font-primary;
}

input[type="checkbox"] {
	height: 1rem;
	width: 1rem;
}

li.folder > .folder-header h3 {
	font-size: 16pt;
}

td {
	padding: 0.25rem;

	&.center-aligned {
		text-align: center;
	}

	&.left-aligned{
		text-align: left;
	}

	&.right-aligned {
		text-align: right;
	}

	&.shrinked {
		width: 1px;
		text-align: center;
	}
}

th {
	padding: 0.25rem !important;

	&.center-aligned {
		text-align: center;
	}

	&.left-aligned {
		text-align: left;
	}

	&.right-aligned {
		text-align: right;
	}

	&.shrinked {
		width: 1px;
		text-align: center;
	}
}

.bottom-line {
	bottom: 0.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	left: 0.5rem;
	line-height: 0;
	position: absolute;
	right: 0.5rem;

	& > * {
		display: block;
	}
}

.conservative-stance-meter {
	background-color: green;
}

.editor {
	background: rgba(250, 240, 230, 0.5);
	border-radius: 0.5rem;
	flex-grow: 1;
	min-height: 75px;
}

& .face {
	display: none;
	height: 100%;
	width: 100%;

	&.active {
		display: block;
	}
}

.playlists-sidebar h4 {
	height: auto;
}

.reckless-stance-meter {
	background-color: red;
}

.special-die {
	border: none;
}

.wfrp3e-font {
	font-family: @font-symbols;

	&.dice {
		text-shadow: none;
		-webkit-text-stroke: 1px black;

		&.challenge {
			color: purple;

			&:before {
				content: "8";
			}
		}

		&.characteristic {
			color: blue;

			&:before {
				content: "8";
			}
		}

		&.conservative {
			color: green;

			&:before {
				content: "0";
			}
		}

		&.expertise {
			color: yellow;

			&:before {
				content: "6";
			}
		}

		&.fortune {
			color: white;

			&:before {
				content: "6";
			}
		}

		&.reckless {
			color: red;

			&:before {
				content: "0";
			}
		}

		&.misfortune {
			color: black;
			-webkit-text-stroke-width: 0;

			&:before {
				content: "6";
			}
		}
	}

	&.symbol {
		&.bane:before {
			content: "b";
		}

		&.boon:before {
			content: "B";
		}

		&.challenge:before {
			content: "c";
		}

		&.chaos-star:before {
			content: "C";
		}

		&.delay:before {
			content: "d";
		}

		&.exertion:before {
			content: "e";
		}

		&.righteous-success:before {
			content: "r";
		}

		&.sigmars-comet:before {
			content: "S";
		}

		&.success:before {
			content: "s";
		}
	}
}

#chat-controls .control-buttons {
	flex-basis: 67px;
}

#logo {
	content: url('../assets/images/logo.webp');
	height: 34px;
}