@font-face
{
	font-family: "ArnoPro";
	src: url(../assets/fonts/ArnoPro-Regular.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face
{
	font-family: "ArnoPro";
	src: url(../assets/fonts/ArnoPro-Bold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@font-face
{
	font-family: "ArnoPro";
	src: url(../assets/fonts/ArnoPro-Italic.otf) format('opentype');
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
}

@font-face
{
	font-family: "ArnoPro";
	src: url(../assets/fonts/ArnoPro-BoldItalic.otf) format('opentype');
	font-weight: bold;
	font-style: italic;
	font-stretch: normal;
}

body
{
	font: 12pt ArnoPro;
}

h1
{
	font: 32pt "Caslon Antique";
}

h2
{
	font: 24pt "Caslon Antique";
}

h3
{
	font: 20pt "Caslon Antique";
}

h3.entity-name, .encounters h3, .folder-header h3, #players h3, #pause h3
{
	background: unset;
	border: unset !important;
}

h4
{
	margin: auto !important;
	font: 16pt "ArnoPro";
}

h5
{
	font: 14pt "ArnoPro";
}

h6
{
	font: 12pt "ArnoPro";
}

input[type="checkbox"]
{
	width: 15px;
	height: 15px;
}

p
{
	text-align: justify;
}

td
{
	padding: 4px;
}

th
{
	padding: 4px !important;
}

.action_card_div
{
	position: relative;
	width: 280px;
	height: 440px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
	text-align: center;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
}
	
.action_card_header
{
	display: grid;
	width: 100%;
	height: 70px;
	border-radius: 25px 25px 0 0;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 50px 20px;
	grid-template-areas:
		'action_card_type action_card_name action_card_recharge_rating'
		'action_card_difficulty_modifiers action_card_traits action_card_recharge_rating';
}

.action_card_art_image
{
	width: 100%;
	height: 100px;
}

.action_card_check
{
	width: 100%;
	height: 20px;
	background-color: saddlebrown;
	color: white;
	font: 12pt "Caslon Antique";
	font-weight: bold;
	text-align: center;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
}

.action_card_difficulty_modifiers
{
	text-align: center;
	grid-area: action_card_difficulty_modifiers;
}

.action_card_effects
{
	width: calc(100% - 20px);
	margin: 10px;
	color: black;
	font-size: 10pt;
	text-shadow: none;
}

.action_card_name
{
	margin: auto;
	font: 16pt "Caslon Antique";
	font-variant-caps: small-caps;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
	grid-area: action_card_name;
}

.action_card_recharge_rating
{
	width: 30px;
	height: 30px;
	margin: 20px 10px 0 0;
	background-color: cornflowerblue;
	border-radius: 50%;
	font: 16pt "Caslon Antique";
	font-weight: bold;
	line-height: 30px;
	grid-area: action_card_recharge_rating;
}

.action_card_requirements
{
	width: 100%;
	background-color: saddlebrown;
	color: white;
	text-align: center;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
}

.action_card_traits
{
	height: 20px;
	font-style: italic;
	font-stretch: condensed;
	grid-area: action_card_traits;
}

.action_card_type
{
	margin: 10px 0 0 10px;
	border: none;
	grid-area: action_card_type;
}

.action_effects_div
{
	display: flex;
	border-radius: 0 0 25px 25px;
	flex-direction: column;
	flex-grow: 1;
}

.attribute_div
{
	flex: 1 0 80px;
	padding: 5px;
	text-align: center;
}

.attribute_label
{
	padding-top: 10px;
}

.attribute_input
{
	height: 60px !important;
}

.attribute_inputs_div
{
	display: flex;
	flex-direction: column;
}

.attributes_div
{
	flex: 1 1 240px;
}

.attributes_sub_div
{
	display: flex;
	flex-flow: row wrap;
}

.bottom_line_div
{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	bottom: 5px;
	left: 10px;
	right: 10px;
	line-height: 0;
}

.bottom_line_div > *
{
	display: block;
}

.card_delete_link
{
	position: absolute;
	display: block;
	padding: 2px 3px;
	bottom: 5px;
	right: 5px;
	line-height: 0;
}

.career_advancement_div
{
	flex: 1 1 300px;
}

.career_partial
{
	display: flex;
	flex-flow: row wrap;
}

.career_sheet_description
{
	padding: 5px 10px 10px;
	background-color: antiquewhite;
	color: black;
	font-size: 10pt;
	text-shadow: none;
	column-count: 2;
	column-fill: auto;
	column-gap: 20px;
	column-rule: 1px solid red;
}

.career_sheet_details
{
	width: 240px;
}

.career_sheet_div
{
	position: relative;
	width: 510px;
	height: 635px;
	margin: 10px;
	padding: 20px;
	background-color: saddlebrown;
	border: 1px solid black;
	color: white;
	text-align: center;
}

.career_sheet_header
{
	width: 385px;
	margin: 0 auto;
	background-color: dimgrey;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
}

.career_sheet_name
{
	position: relative;
	font-size: 16pt;
	font-weight: bold;
	font-variant-caps: small-caps;
}

.career_sheet_traits
{
	font-style: italic;
	text-align: center;
}

.career_sheet_advance_options
{
	display: grid;
	width: 180px;
	height: 185px;
	margin: 0 auto;
	background-color: burlywood;
	font-variant-caps: small-caps;
	line-height: 10pt;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
	grid-template-columns: 90px 90px;
	grid-template-rows: 20px 40px 40px 40px 1fr;
	grid-template-areas:
		'career_sheet_advance_options_header career_sheet_advance_options_header'
		'career_sheet_action_advance_options career_sheet_talent_advance_options'
		'career_sheet_skill_advance_options career_sheet_fortune_advance_options'
		'career_sheet_conservative_advance_options career_sheet_reckless_advance_options'
		'career_sheet_wound_advance_options career_sheet_wound_advance_options';
}

.career_sheet_advance_options_header
{
	background-color: dimgrey;
	color: white;
	font-size: 14pt;
	font-weight: bold;
	line-height: 25px;
	grid-area: career_sheet_advance_options_header;
}

.career_sheet_action_advance_options
{
	grid-area: career_sheet_action_advance_options;
}

.career_sheet_talent_advance_options
{
	grid-area: career_sheet_talent_advance_options;
}

.career_sheet_skill_advance_options
{
	grid-area: career_sheet_skill_advance_options;
}

.career_sheet_fortune_advance_options
{
	grid-area: career_sheet_fortune_advance_options;
}

.career_sheet_conservative_advance_options
{
	grid-area: career_sheet_conservative_advance_options;
}

.career_sheet_reckless_advance_options
{
	grid-area: career_sheet_reckless_advance_options;
}

.career_sheet_wound_advance_options
{
	grid-area: career_sheet_wound_advance_options;
}

.career_sheet_advance_option_content
{
	color: yellow;
	font-weight: bold;
	line-height: 20px;
}

.career_sheet_advance_option_title
{
	font-size: 10pt;
	font-weight: bold;
	line-height: 20px;
}

.career_sheet_career_aptitudes
{
	display: flex;
	width: 190px;
	height: 200px;
	margin: 20px;
	padding: 10px;
	background-color: papayawhip;
	color: black;
	text-shadow: none;
	flex-direction: column;
	justify-content: space-between;
}

.career_sheet_career_aptitudes_content
{
	font-style: italic;
}

.career_sheet_career_aptitudes_title
{
	font-size: 14pt;
	font-variant-caps: small-caps;
}

.career_sheet_race_restrictions
{
	font-variant-caps: small-caps;
}

.career_sheet_starting_stance
{
	font-weight: bold;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
}

.character_sheet_title
{
	display: block;
	font: 14pt "ArnoPro";
	font-weight: bold;
	text-align: center;
	font-variant-caps: small-caps;
}

.characteristic_div
{
	width: 120px;
}

.characteristic_fortune_input
{
	width: 25px !important;
	height: 25px !important;
	margin-left: 10px !important;
	padding: 3px !important;
	font-weight: bold;
	text-align: center !important;
}

.characteristic_inputs_div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.characteristic_title
{
	font: 14pt "ArnoPro";
	font-weight: bold;
	text-align: center;
	font-variant-caps: small-caps;
}

.characteristic_value_input
{
	display: block;
	width: 35px !important;
	height: 45px !important;
	padding: 3px !important;
	font-weight: bold;
	text-align: center !important;
}

.characteristics_div
{
	display: flex;
	width: auto;
	flex-direction: column;
}

.characteristics_group
{
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	flex: 1 1 auto;
	justify-content: space-around;
}

.characteristics_sub_div
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.characteristics_tab_div
{
	flex-flow: row wrap !important;
}

.conservative_stance_meter
{
	background-color: green;
}

.editor
{
	flex-grow: 1;
}

.face_div
{
	display: none;
	width: 100%;
	height: 100%;
}

	.face_div.active
	{
		display: block;
	}

	.face_div.conservative > .action_card_header
	{
		background-color: green;
	}

	.face_div.reckless > .action_card_header
	{
		background-color: red;
	}

.sheet-body
{
	display: flex;
	flex-direction: column;
	height: calc(100% - 104px);
}

.impairment_div
{
	display: flex;
	margin: auto;
	flex: 1 1 auto;
	flex-direction: row;
}

	.impairment_div:first-child
	{
		margin-bottom: 10px;
	}

	.impairment_div:last-child
	{
		margin-top: 10px;
	}
	
.impairment_input
{
	width: 30px !important;
	height: auto !important;
	padding: 5px;
	border: 1px solid;
	font-weight: bold;
	text-align: center !important;
}
	
	.impairment_input.fatigue
	{
		border-color: red;
	}
	
	.impairment_input.stress
	{
		border-color: blue;
	}

.impairment_title
{
	display: block;
	padding: 0 2px 0 4px;
	font: 14pt "ArnoPro";
	font-weight: bold;
	text-align: center;
	font-variant-caps: small-caps;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.impairments_group
{
	display: flex;
	flex-direction: column;
}

.item_div
{
	display: flex;
	flex-flow: row wrap;
}

.item_type_div
{
	display: none;
}

	.item_type_div.active
	{
		display: block;
	}

.reckless_stance_meter
{
	background-color: red;
}

.skill_row
{
	font-size: 12pt;
	font-variant-caps: small-caps;
}

.skills_div
{
	flex: 1 1 auto;
}

.sheet-tabs
{
	display: flex;
	height: auto !important;
	flex-flow: row wrap;
	justify-content: space-between;
	font: 14pt "ArnoPro";
	font-weight: bold;
	text-align: center;
	font-variant-caps: small-caps;
}

	.sheet-tabs > *
	{
		margin: 0 5px;
	}

.stance_slider::-webkit-slider-runnable-track
{
	-webkit-appearance: none !important;
	background: linear-gradient(to right, green, white, red) !important;
}

.sub_tab_div
{
	display: flex;
	border-bottom: 1px solid #b5b3a4;
	flex-flow: row wrap;
	justify-content: space-around;
}

	.sub_tab_div > *
	{
		margin: 0 5px;
	}

.tab_div.active
{
	display: flex !important;
	flex-direction: column;
	flex-grow: 1;
}

.table_cell_center_aligned
{
	text-align: center;
}

.table_cell_left_aligned
{
	text-align: left;
}

.table_cell_right_aligned
{
	text-align: right;
}

.table_cell_shrinked
{
	width: 1px;
	text-align: center;
}

.talent_card_div
{
	position: relative;
	display: grid;
	width: 315px;
	height: 205px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	grid-template: 60px 1fr / 50px 1fr;
	grid-template-areas:
		'talent_card_type talent_card_name'
		'talent_card_type talent_card_content';
}

.talent_card_type
{
	display: block;
	margin: 10px auto;
	padding: 0 2px 0 4px;
	background-color: saddlebrown;
	color: white;
	font: 14pt "ArnoPro";
	font-weight: bold;
	text-align: center;
	font-variant-caps: small-caps;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	grid-area: talent_card_type;
}

	.talent_card_type.focus
	{
		background-color: blue;
	}

	.talent_card_type.reputation
	{
		background-color: purple;
	}

	.talent_card_type.tactic
	{
		background-color: red;
	}

.talent_card_name
{
	margin: auto 0;
	background: padding-box saddlebrown;
	color: white;
	font: 20pt "Caslon Antique";
	text-align: center;
	text-shadow:
		-1pt -1pt 0pt black,
		-1pt 0 0pt black,
		0 -1pt 0pt black,
		-1pt 1pt 0pt black,
		1pt -1pt 0pt black,
		0 1pt 0pt black,
		1pt 0 0pt black,
		1pt 1pt 0pt black;
	grid-area: talent_card_name;
}

.talent_card_content_div
{
	margin: auto 6px;
	grid-area: talent_card_content;
}

.tox.tox-tinymce
{
	height: 100% !important;
}

.tox-edit-area
{
	height: fit-content;
}

/*.card
{
	display : flex;
	flex-direction : row;
}

.talent-type
{
	transform : rotate(270deg);
	transform-origin : top left 0;
	position : absolute;
	bottom : -28px;
	left : 0;
}*/