.action-card {
  position: relative;
  width: 280px;
  height: 440px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.action-card .action-card-art-image {
  border: none;
  display: block;
  height: 80px;
  width: 100%;
}
.action-card .action-card-check {
  width: 100%;
  height: 20px;
  background-color: #201008;
  color: white;
  font: 12pt "Caslon Antique";
  font-weight: bold;
  text-align: center;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.action-card .action-card-difficulty-modifiers {
  font-size: 8pt;
  grid-area: action-card-difficulty-modifiers;
  line-height: 8pt;
  margin: auto auto auto 5px;
  text-align: center;
}
.action-card .action-card-difficulty-modifiers > * {
  display: inline-block;
  margin: auto;
}
.action-card .action-card-effects {
  width: calc(100% - 20px);
  margin: 10px;
  color: black;
  font-size: 10pt;
  text-shadow: none;
}
.action-card .action-card-header {
  display: grid;
  width: 100%;
  height: 70px;
  border-radius: 25px 25px 0 0;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 20px;
  grid-template-areas: 'action-card-type action-card-name action-card-recharge-rating' 'action-card-difficulty-modifiers action-card-traits action-card-recharge-rating';
}
.action-card .action-card-name {
  margin: auto;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  grid-area: action-card-name;
}
.action-card .action-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.action-card .action-card-recharge-rating {
  width: 30px;
  height: 30px;
  margin: 20px 10px 0 0;
  background-color: cornflowerblue;
  border-radius: 50%;
  font: 16pt "Caslon Antique";
  font-weight: bold;
  line-height: 30px;
  grid-area: action-card-recharge-rating;
}
.action-card .action-card-requirements {
  width: 100%;
  background-color: #503820;
  color: white;
  text-align: center;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.action-card .action-card-traits {
  height: 20px;
  font-style: italic;
  font-stretch: condensed;
  grid-area: action-card-traits;
}
.action-card .action-card-type {
  margin: 10px 0 0 10px;
  border: none;
  grid-area: action-card-type;
}
.action-card .face.conservative {
  background-color: #d8b880;
  border-radius: 25px;
}
.action-card .face.conservative > .action-card-header {
  background-color: #388840;
}
.action-card .face.reckless {
  background-color: #e0e0e0;
  border-radius: 25px;
}
.action-card .face.reckless > .action-card-header {
  background-color: #c02030;
}
.action-card .bottom-line {
  align-items: end;
}
.action-card .bottom-line .recharge-token {
  position: relative;
}
.action-card .bottom-line .recharge-token > img {
  border: none;
  height: 3rem;
  opacity: 75%;
}
.action-card .bottom-line .recharge-token > .recharge-token-counter {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.action-item-sheet .sheet-form-div {
  margin: 0.25rem 0;
}
.action-item-sheet .sheet-form-div.action-art-selector > * {
  display: block;
}
.action-item-sheet .sheet-form-div.action-art-selector > img {
  border: none;
  height: 80px;
  width: 278px;
}
.career-sheet {
  position: relative;
  width: 510px;
  height: 635px;
  margin: 10px;
  padding: 20px;
  background-color: saddlebrown;
  border: 1px solid black;
  color: white;
  text-align: center;
}
.career-sheet .career-sheet-description {
  padding: 5px 10px 10px;
  background-color: antiquewhite;
  color: black;
  font-size: 10pt;
  text-shadow: none;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-fill: auto;
  column-fill: auto;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -moz-column-rule: 1px solid red;
  column-rule: 1px solid red;
}
.career-sheet .career-sheet-details {
  width: 240px;
}
.career-sheet .career-sheet-header {
  width: 385px;
  margin: 0 auto;
  background-color: dimgrey;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.career-sheet .career-sheet-name {
  position: relative;
  font-size: 16pt;
  font-weight: bold;
  font-variant-caps: small-caps;
}
.career-sheet .career-sheet-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.career-sheet .career-sheet-traits {
  font-style: italic;
  text-align: center;
}
.career-sheet .career-sheet-advance-options {
  display: grid;
  width: 180px;
  height: 185px;
  margin: 0 auto;
  background-color: burlywood;
  font-variant-caps: small-caps;
  line-height: 10pt;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  grid-template-columns: 90px 90px;
  grid-template-rows: 20px 40px 40px 40px 1fr;
  grid-template-areas: 'career-sheet-advance-options-header career-sheet-advance-options-header' 'career-sheet-action-advance-options career-sheet-talent-advance-options' 'career-sheet-skill-advance-options career-sheet-fortune-advance-options' 'career-sheet-conservative-advance-options career-sheet-reckless-advance-options' 'career-sheet-wound-advance-options career-sheet-wound-advance-options';
}
.career-sheet .career-sheet-advance-options-header {
  background-color: dimgrey;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  line-height: 25px;
  grid-area: career-sheet-advance-options-header;
}
.career-sheet .career-sheet-action-advance-options {
  grid-area: career-sheet-action-advance-options;
}
.career-sheet .career-sheet-talent-advance-options {
  grid-area: career-sheet-talent-advance-options;
}
.career-sheet .career-sheet-skill-advance-options {
  grid-area: career-sheet-skill-advance-options;
}
.career-sheet .career-sheet-fortune-advance-options {
  grid-area: career-sheet-fortune-advance-options;
}
.career-sheet .career-sheet-conservative-advance-options {
  grid-area: career-sheet-conservative-advance-options;
}
.career-sheet .career-sheet-reckless-advance-options {
  grid-area: career-sheet-reckless-advance-options;
}
.career-sheet .career-sheet-wound-advance-options {
  grid-area: career-sheet-wound-advance-options;
}
.career-sheet .career-sheet-advance-option-content {
  color: yellow;
  font-weight: bold;
  line-height: 20px;
}
.career-sheet .career-sheet-advance-option-title {
  font-size: 10pt;
  font-weight: bold;
  line-height: 20px;
}
.career-sheet .career-sheet-career-aptitudes {
  display: flex;
  width: 190px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  background-color: papayawhip;
  color: black;
  text-shadow: none;
  flex-direction: column;
  justify-content: space-between;
}
.career-sheet .career-sheet-career-aptitudes-content {
  font-style: italic;
}
.career-sheet .career-sheet-career-aptitudes-title {
  font-size: 14pt;
  font-variant-caps: small-caps;
}
.career-sheet .career-sheet-race-restrictions {
  font-variant-caps: small-caps;
}
.career-sheet .career-sheet-starting-stance {
  font-weight: bold;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0pt black;
}
.conditions .condition-card {
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #806050;
  text-align: center;
}
.conditions .condition-card .condition-card-description {
  text-shadow: 0 0 16px white;
  background-color: #b0a0a0;
}
.conditions .condition-card .condition-card-description p {
  text-align: center;
}
.conditions .condition-card .condition-card-duration {
  padding: 10px 0 20px;
  background-color: #c0b0a0;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black, 0 0 8px black;
}
.conditions .condition-card .condition-card-header {
  padding: 20px 0;
  background: #903030;
}
.conditions .condition-card .condition-card-header .condition-card-name {
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.conditions .condition-card .condition-card-header .condition-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.conditions .condition-card .item-delete-link {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.character-sheet .character-sheet-body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 104px);
}
.character-sheet .character-sheet-body .characteristics-tab {
  flex-flow: row wrap !important;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes {
  display: flex;
  height: 650px;
  flex: 1 1 240px;
  flex-direction: column;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .attributes-subdivision {
  display: flex;
  flex-flow: row wrap;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .attributes-subdivision .attribute {
  flex: 1 0 80px;
  padding: 5px;
  text-align: center;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .attributes-subdivision .attribute .attribute-input {
  height: 60px !important;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .attributes-subdivision .attribute .attribute-input-container {
  display: flex;
  flex-direction: column;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .attributes-subdivision .attribute .attribute-label {
  padding-top: 10px;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .cards {
  overflow-y: scroll;
}
.character-sheet .character-sheet-body .characteristics-tab .attributes .cards > div:not(:last-child) .card {
  margin-bottom: 20px !important;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments {
  display: flex;
  width: auto;
  flex-direction: column;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics-and-impairments-subdivision {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  flex: 1 1 auto;
  justify-content: space-around;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics .characteristic {
  width: 130px;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics .characteristic .characteristic-fortune-input {
  width: 25px !important;
  height: 25px !important;
  margin-left: 10px !important;
  padding: 3px !important;
  font-weight: bold;
  text-align: center !important;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics .characteristic .characteristic-input-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics .characteristic .characteristic-title {
  font: 14pt "ArnoPro";
  font-weight: bold;
  text-align: center;
  font-variant-caps: small-caps;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .characteristics .characteristic .characteristic-value-input {
  display: block;
  width: 35px !important;
  height: 45px !important;
  padding: 3px !important;
  font-weight: bold;
  text-align: center !important;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments {
  display: flex;
  flex-direction: column;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment {
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-direction: row;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment:first-child {
  margin-bottom: 10px;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment:last-child {
  margin-top: 10px;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment .input {
  width: 30px !important;
  height: auto !important;
  padding: 5px;
  border: 1px solid;
  font-weight: bold;
  text-align: center !important;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment .input.fatigue {
  border-color: red;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment .input.stress {
  border-color: blue;
}
.character-sheet .character-sheet-body .characteristics-tab .characteristics-and-impairments .impairments .impairment .title {
  display: block;
  padding: 0 2px 0 4px;
  font: 14pt "ArnoPro";
  font-weight: bold;
  text-align: center;
  font-variant-caps: small-caps;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.character-sheet .character-sheet-body .characteristics-tab .skills {
  flex: 1 1 auto;
}
.character-sheet .character-sheet-body .characteristics-tab .skills .skill-row {
  font-size: 12pt;
  font-variant-caps: small-caps;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter {
  margin-bottom: 0.5rem;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments {
  display: flex;
  justify-content: center;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments .stance-meter-segment {
  display: block;
  height: 27px;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments .stance-meter-segment.active {
  filter: drop-shadow(gold 0px 0px 4px);
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments .stance-meter-segment > img {
  border: none;
  width: 32px;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments .stance-meter-segment > img.stance-neutral {
  width: 38px;
}
.character-sheet .character-sheet-body .characteristics-tab .stance-meter .stance-meter-segments .stance-meter-segment > input {
  display: none;
}
.character-sheet .character-sheet-body .item-container {
  display: none;
  flex-flow: row wrap;
}
.character-sheet .character-sheet-body .item-container.active {
  flex-direction: row;
}
.character-sheet .character-sheet-body .item-container .career-partial {
  display: flex;
  flex-flow: row wrap;
}
.character-sheet .character-sheet-body .item-container .career-partial .career-advancement {
  flex: 1 1 300px;
}
.character-sheet .character-sheet-body .character-sheet-career-tabs,
.character-sheet .character-sheet-body .character-sheet-talent-tabs,
.character-sheet .character-sheet-body .character-sheet-action-tabs {
  display: flex;
  border-bottom: 1px solid #b5b3a4;
  flex-flow: row wrap;
  justify-content: space-around;
}
.character-sheet .character-sheet-body .character-sheet-career-tabs > *,
.character-sheet .character-sheet-body .character-sheet-talent-tabs > *,
.character-sheet .character-sheet-body .character-sheet-action-tabs > * {
  margin: 0 5px;
}
.character-sheet .character-sheet-primary-tabs {
  display: flex;
  height: auto !important;
  flex-flow: row wrap;
  justify-content: space-between;
  font: 14pt "ArnoPro";
  font-weight: bold;
  text-align: center;
  font-variant-caps: small-caps;
}
.character-sheet .character-sheet-primary-tabs > * {
  margin: 0 5px;
}
.character-sheet .character-sheet-title {
  display: block;
  font: 14pt "ArnoPro";
  font-weight: bold;
  text-align: center;
  font-variant-caps: small-caps;
}
.diseases .disease-card {
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  border: 10px solid #104020;
  border-radius: 10px;
  text-align: center;
  background-color: #e8f0e0;
}
.diseases .disease-card .disease-card-content {
  padding: 0 5px;
}
.diseases .disease-card .disease-card-content .disease-card-description {
  text-align: left;
  margin-left: 0;
  padding: 0;
  border: 0;
}
.diseases .disease-card .disease-card-content .disease-card-severity-rating {
  width: 31px;
  height: 31px;
  background-color: #405848;
  float: left;
  color: white;
  font: 20pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.diseases .disease-card .disease-card-content .disease-card-symptom {
  text-align: left;
}
.diseases .disease-card .disease-card-content .disease-card-symptom .symptom-name {
  text-transform: uppercase;
}
.diseases .disease-card .disease-card-content .disease-card-symptom .symptom-name::first-letter {
  font-size: 16pt;
}
.diseases .disease-card .disease-card-header {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-bottom: 5px;
}
.diseases .disease-card .disease-card-header .disease-card-name {
  margin: auto 0;
  padding: 0 5px;
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  vertical-align: middle;
}
.diseases .disease-card .disease-card-header .disease-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.diseases .disease-card .disease-card-header .disease-card-traits {
  height: 20px;
  padding: 3px 5px;
  background-color: #383830;
  color: white;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.diseases .disease-card .item-delete-link {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.dice-additional-flavor {
  font-style: oblique;
  font-size: 12px;
}
.dice-array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dice-array .dice-rolls {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dice-array .dice-rolls .roll {
  width: 54px;
  float: left;
}
.dice-pool-dialog .convert-buttons {
  display: flex;
  margin-bottom: 1rem;
}
.dice-pool-dialog .convert-buttons button {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.dice-pool-dialog .dice-pool {
  margin-top: 8px;
  min-height: 54px;
  text-align: center;
}
.dice-pool-dialog .dice-pool-table {
  padding: 5px 1px;
}
.dice-pool-dialog .dice-pool-table .pool-container > td > * {
  display: inline-block;
  vertical-align: middle;
}
.dice-pool-dialog .dice-pool-table .pool-value {
  background-color: #ddd;
  border: 1px solid black;
  font: 20pt "ArnoPro";
  padding-top: 8px;
  text-align: center;
  width: 3.5rem;
}
.dice-pool-dialog .dice-pool-hint {
  margin: 10px 1px 5px 1px;
}
.dice-pool-dialog .dice-pool-roll-options {
  margin-top: 10px;
}
.dice-pool-dialog .dice-pool-roll-options select,
.dice-pool-dialog .dice-pool-roll-options input {
  margin-top: 1px;
  margin-right: 1px;
}
.dice-pool-dialog .hide {
  display: none;
}
.dice-pool-dialog .maximize {
  width: 100%;
}
.dice-pool-dialog .minimize {
  max-width: 20%;
}
.dice-pool-dialog .pool-text {
  text-align: left;
  margin-left: 0.5rem;
}
.dice-pool-dialog .roll-button {
  margin-top: 15px;
}
.dice-pool-dialog .symbols-pool {
  margin-top: 10px;
  min-height: 54px;
  text-align: center;
}
.dice-pool-dialog .symbols-pool-container {
  padding: 0 1px;
  min-width: 320px;
}
.dice-pool-dialog .symbols-pool-container .pool-value {
  background-color: #ddd;
  border: 1px solid black;
  font: 16pt "ArnoPro";
  padding-top: 8px;
  text-align: center;
  width: 3rem;
}
.dice-pool-dialog .symbols-pool-container .wfrp3e.picture {
  display: inline-block;
  width: 20px;
}
.dice-result .roll-success {
  color: darkgreen;
}
.dice-result .roll-failure {
  color: darkred;
}
.dice-tooltip .dice-rolls .roll > .special-die {
  width: 44px;
}
.item-display {
  margin: 0.5rem 0 0.8rem 0;
  padding: 0.5rem;
  border: 1px solid #782e22;
  background: rgba(255, 255, 255, 0.75);
}
.item-display img {
  height: 50px;
  width: auto;
}
.item-display h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.item-display h4 input {
  width: 70%;
}
.item-display .item-miss {
  text-align: center;
  font-style: italic;
  color: darkred;
}
.item-display .item-pill {
  list-style-type: none;
  padding: 0 5px;
  background-color: #aaa;
  border: 1px solid black;
  border-radius: 12px;
  display: inline-block;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
}
.item-display .item-pill.adjusted {
  color: #8b0000;
}
.item-display .item-pill .rank {
  padding-right: 15px;
}
.item-display .item-pill .rank:hover {
  color: green;
}
.item-display .item-pill .item-delete {
  cursor: pointer;
}
.item-display .item-pill .item-delete:hover {
  color: red;
}
.special-die {
  border: none;
}
.insanities .insanity-card {
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  border: 10px solid #602018;
  border-radius: 10px;
  text-align: center;
  background-color: #d0d8e0;
}
.insanities .insanity-card .insanity-card-content {
  padding: 0 5px;
}
.insanities .insanity-card .insanity-card-content .insanity-card-description {
  text-align: left;
  margin-left: 0;
  padding: 0;
  border: 0;
}
.insanities .insanity-card .insanity-card-content .insanity-card-severity-rating {
  width: 31px;
  height: 31px;
  background-color: #202020;
  float: right;
  color: white;
  font: 20pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.insanities .insanity-card .insanity-card-content .insanity-card-symptom {
  text-align: left;
}
.insanities .insanity-card .insanity-card-content .insanity-card-symptom .symptom-name {
  text-transform: uppercase;
}
.insanities .insanity-card .insanity-card-content .insanity-card-symptom .symptom-name::first-letter {
  font-size: 16pt;
}
.insanities .insanity-card .insanity-card-header {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-bottom: 5px;
}
.insanities .insanity-card .insanity-card-header .insanity-card-name {
  margin: auto 0;
  padding: 0 5px;
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  vertical-align: middle;
}
.insanities .insanity-card .insanity-card-header .insanity-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.insanities .insanity-card .insanity-card-header .insanity-card-traits {
  height: 20px;
  padding: 3px 5px;
  background-color: #303030;
  color: white;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.insanities .insanity-card .item-delete-link {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.miscasts .miscast-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  border: 10px solid #385060;
  border-width: 10px 0;
  border-radius: 10px;
  text-align: center;
  background-color: #e8f0f8;
}
.miscasts .miscast-card .miscast-card-description {
  flex-grow: 1;
  padding: 10px;
}
.miscasts .miscast-card .miscast-card-description p {
  text-align: left;
}
.miscasts .miscast-card .miscast-card-header {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-bottom: 5px;
  background-color: #e8e8e0;
}
.miscasts .miscast-card .miscast-card-header .miscast-card-name {
  margin: auto 0;
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.miscasts .miscast-card .miscast-card-header .miscast-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.miscasts .miscast-card .miscast-card-severity-rating {
  position: absolute;
  width: 31px;
  height: 31px;
  bottom: 15px;
  right: 15px;
  background-color: #703818;
  color: white;
  font: 20pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.miscasts .miscast-card .item-delete-link {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.mutations .mutation-card {
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  border: 10px solid #987060;
  border-radius: 10px;
  text-align: center;
  background-color: #f0e8e0;
}
.mutations .mutation-card .mutation-card-content {
  padding: 0 5px;
}
.mutations .mutation-card .mutation-card-content .mutation-card-description {
  text-align: left;
  margin-left: 0;
  padding: 0;
  border: 0;
}
.mutations .mutation-card .mutation-card-content .mutation-card-severity-rating {
  width: 31px;
  height: 31px;
  background-color: #e8e8e8;
  float: left;
  color: white;
  font: 20pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.mutations .mutation-card .mutation-card-content .mutation-card-symptom {
  text-align: left;
}
.mutations .mutation-card .mutation-card-content .mutation-card-symptom .symptom-name {
  text-transform: uppercase;
}
.mutations .mutation-card .mutation-card-content .mutation-card-symptom .symptom-name::first-letter {
  font-size: 16pt;
}
.mutations .mutation-card .mutation-card-header {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-bottom: 5px;
}
.mutations .mutation-card .mutation-card-header .mutation-card-name {
  margin: auto 0;
  padding: 0 5px;
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  vertical-align: middle;
}
.mutations .mutation-card .mutation-card-header .mutation-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.mutations .mutation-card .mutation-card-header .mutation-card-traits {
  height: 20px;
  padding: 3px 5px;
  background-color: #383830;
  color: white;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.mutations .mutation-card .item-delete-link {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.party-sheet .party-sheet-body {
  display: flex;
}
.party-sheet .party-sheet-body .party-sheet-left-side {
  margin-right: 10px;
  flex-grow: 1;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-header {
  width: 385px;
  margin: 0 auto 10px;
  background-color: dimgrey;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-header * {
  color: white;
  text-align: center;
  font-variant-caps: small-caps;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-header .party-sheet-name {
  font-size: 16pt;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-header .party-sheet-traits {
  font-style: italic;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-members {
  display: flex;
  margin-top: 10px;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-members .party-sheet-member {
  position: relative;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-members .party-sheet-member .party-sheet-member-remove {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-tension .party-sheet-tension-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  font-variant-caps: small-caps;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-tension .party-sheet-tension-event {
  display: flex;
}
.party-sheet .party-sheet-body .party-sheet-left-side .party-sheet-tension .party-sheet-tension-event .party-sheet-tension-event-threshold {
  flex: 0 1 30px;
  text-align: center;
}
.party-sheet .party-sheet-body .party-sheet-right-side {
  margin: 0 0 10px auto;
  flex-shrink: 1;
}
.party-sheet .party-sheet-body .party-sheet-right-side .party-sheet-fortune-pool {
  display: flex;
  align-items: center;
  justify-content: center;
}
.party-sheet .party-sheet-body .party-sheet-right-side .party-sheet-fortune-pool > input {
  width: 30px;
  margin-left: 10px;
  text-align: center;
}
.party-sheet .party-sheet-special-ability .party-sheet-special-ability-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  font-variant-caps: small-caps;
}
.party-sheet .party-sheet-tension-meter {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-minus,
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-plus {
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 20pt;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container {
  display: flex;
  justify-content: center;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment {
  width: 40px;
  height: 40px;
  padding-top: 2px;
  flex: 0 0 40px;
  text-align: center;
  font-size: 24pt;
  color: white;
  background-color: #c06030;
  border: 1px solid #a05040;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment.threshold,
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment:first-child {
  background-color: #184080;
  border-color: #803030;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment:last-child {
  background-color: #103040;
  border-color: #803030;
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment > img {
  border: none;
  filter: drop-shadow(0 0 2px black);
}
.party-sheet .party-sheet-tension-meter .party-sheet-tension-meter-segment-container .party-sheet-tension-meter-segment > input {
  display: none;
}
.party-sheet .party-sheet-footer .party-sheet-talent-socket:not(:first-child) {
  margin-left: 10px;
}
.party-sheet .party-sheet-footer .party-sheet-talent-socket-button-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  flex: 0 1 35px;
}
.talent-card {
  position: relative;
  display: grid;
  width: 385px;
  height: 255px;
  margin: 0.5rem 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
  grid-template: 60px 1fr / 50px 1fr;
  grid-template-areas: 'talent-card-type talent-card-name' 'talent-card-type talent-card-content' 'talent-card-type talent-card-bottom';
}
.talent-card .talent-card-bottom {
  display: flex;
}
.talent-card .talent-card-bottom .item-delete-link {
  position: absolute;
  display: block;
  padding: 2px 3px;
  bottom: 5px;
  right: 5px;
  line-height: 0;
}
.talent-card .talent-card-bottom .recharge-token {
  position: relative;
}
.talent-card .talent-card-bottom .recharge-token > img {
  border: none;
  height: 3rem;
  opacity: 75%;
}
.talent-card .talent-card-bottom .recharge-token > .recharge-token-counter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-shadow: -1pt -1pt 0 white, -1pt 0 0 white, 0 -1pt 0 white, -1pt 1pt 0 white, 1pt -1pt 0 white, 0 1pt 0 white, 1pt 0 0 white, 1pt 1pt 0 white;
}
.talent-card .talent-card-socket-select {
  position: absolute;
  top: 100%;
  width: 100%;
}
.talent-card .talent-card-content {
  margin: auto 6px;
  grid-area: talent-card-content;
}
.talent-card .talent-card-name {
  margin: auto 0;
  background: padding-box saddlebrown;
  color: white;
  font: 20pt "Caslon Antique";
  text-align: center;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  grid-area: talent-card-name;
}
.talent-card .talent-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.talent-card .talent-card-type {
  display: block;
  margin: 10px auto;
  padding: 0 2px 0 4px;
  background-color: saddlebrown;
  color: white;
  font: 14pt "ArnoPro";
  font-weight: bold;
  text-align: center;
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-area: talent-card-type;
}
.talent-card .talent-card-type.focus {
  background-color: blue;
}
.talent-card .talent-card-type.reputation {
  background-color: purple;
}
.talent-card .talent-card-type.tactic {
  background-color: red;
}
@font-face {
  font-family: "ArnoPro";
  src: url(../assets/fonts/ArnoPro-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ArnoPro";
  src: url(../assets/fonts/ArnoPro-Bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ArnoPro";
  src: url(../assets/fonts/ArnoPro-Italic.otf) format('opentype');
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "ArnoPro";
  src: url(../assets/fonts/ArnoPro-BoldItalic.otf) format('opentype');
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}
.wounds .wound-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 255px;
  height: 385px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  background-color: #f4e0c0;
}
.wounds .wound-card .wound-card-description {
  flex-grow: 1;
  padding: 10px;
  border: 10px solid #803020;
  border-top: 0;
}
.wounds .wound-card .wound-card-description p {
  text-align: left;
}
.wounds .wound-card .wound-card-header {
  border-bottom: 10px solid #503010;
}
.wounds .wound-card .wound-card-header .wound-card-name {
  display: block;
  margin: auto 0;
  border: 10px solid #2e231f;
  background-color: #e0c0b0;
  color: white;
  font: 16pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.wounds .wound-card .wound-card-header .wound-card-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.wounds .wound-card .wound-card-severity-rating {
  position: absolute;
  width: 31px;
  height: 31px;
  bottom: 15px;
  right: 15px;
  background-color: #703818;
  color: white;
  font: 20pt "Caslon Antique";
  font-variant-caps: small-caps;
  text-shadow: -1pt -1pt 0 black, -1pt 0 0 black, 0 -1pt 0 black, -1pt 1pt 0 black, 1pt -1pt 0 black, 0 1pt 0 black, 1pt 0 0 black, 1pt 1pt 0 black;
}
.wounds .wound-card .item-delete-link {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
body {
  font: 12pt "ArnoPro";
}
h1 {
  font: 32pt "Caslon Antique";
}
h2 {
  font: 24pt "Caslon Antique";
}
h3 {
  font: 20pt "Caslon Antique";
}
h3.entity-name,
.encounters h3,
.folder-header h3,
#players h3,
#pause h3 {
  background: unset;
  border: unset !important;
}
h4 {
  margin: auto !important;
  font: 16pt "ArnoPro";
}
h5 {
  font: 14pt "ArnoPro";
}
h6 {
  font: 12pt "ArnoPro";
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
p {
  text-align: justify;
}
td {
  padding: 4px;
}
td.center-aligned {
  text-align: center;
}
td.left-aligned {
  text-align: left;
}
td.right-aligned {
  text-align: right;
}
td.shrinked {
  width: 1px;
  text-align: center;
}
th {
  padding: 4px !important;
}
th.center-aligned {
  text-align: center;
}
th.left-aligned {
  text-align: left;
}
th.right-aligned {
  text-align: right;
}
th.shrinked {
  width: 1px;
  text-align: center;
}
.bottom-line {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 5px;
  left: 10px;
  right: 10px;
  line-height: 0;
}
.bottom-line > * {
  display: block;
}
.conservative-stance-meter {
  background-color: green;
}
.editor {
  flex-grow: 1;
  min-height: 75px;
}
.face {
  display: none;
  width: 100%;
  height: 100%;
}
.face.active {
  display: block;
}
.reckless-stance-meter {
  background-color: red;
}
.sheet .tab.active {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}
.wfrp3e.dice {
  font-family: var(--fa-style-family, "Font Awesome 6 Pro");
  font-weight: var(--fa-style, 900);
  text-shadow: -1px -1px 0 black, -1px 0 0 black, 0 -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 0 1px 0 black, 1px 0 0 black, 1px 1px 0 black;
}
.wfrp3e.dice.challenge {
  color: purple;
}
.wfrp3e.dice.challenge:before {
  content: "\f219";
}
.wfrp3e.dice.characteristic {
  color: blue;
}
.wfrp3e.dice.characteristic:before {
  content: "\f219";
}
.wfrp3e.dice.conservative {
  color: green;
}
.wfrp3e.dice.conservative:before {
  content: "\f111";
}
.wfrp3e.dice.expertise {
  color: yellow;
}
.wfrp3e.dice.expertise:before {
  content: "\f0c8";
}
.wfrp3e.dice.fortune {
  color: white;
}
.wfrp3e.dice.fortune:before {
  content: "\f0c8";
}
.wfrp3e.dice.reckless {
  color: red;
}
.wfrp3e.dice.reckless:before {
  content: "\f111";
}
.wfrp3e.dice.misfortune {
  color: black;
}
.wfrp3e.dice.misfortune:before {
  content: "\f0c8";
}
#chat-controls .control-buttons {
  flex-basis: 67px;
}
